.CuadroBusqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.CuadroBusqueda__tarjeta {
  display: grid;
  grid-template: auto 1fr / auto 1fr;
  gap: 1rem 3rem;
  box-shadow:
    0 .05rem .25rem .025rem var(--color-sombras),
    0 .25rem .25rem var(--color-sombras);
  padding: 2rem;
  border-radius: .5rem;
  animation: aparece-exportacion-avanzada .35s ease both;
}

.CuadroBusqueda__titulo {
  font-weight: bold;
  font-size: 1.35rem;
  font-family: 'Raleway';
  z-index: 3;
  grid-column: 1 / -1;
}

.CuadroBusqueda__formulario {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.CuadroBusqueda__explicacion {
  font-size: .9rem;
  max-width: 28ch;
  line-height: 1.5;
  text-align: right;
  opacity: .8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem 2rem 0;
  border-right: 1px solid var(--color-bordes);
}

.CuadroBusqueda__contenedor_input {
  position: relative;
}

.CuadroBusqueda__input {
  height: 3rem;
  padding: 0 1.5rem 0 3rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--color-bordes);
  margin-bottom: 1rem;
  outline: none;
  width: 24ch;
  transition: all .25s ease;
  animation: aparece-input-busqueda .5s ease both;
  display: flex;
  align-items: center;
  background: var(--color-fondo);
  color: var(--color-texto);
}

.CuadroBusqueda__input:focus {
  box-shadow: 0 .05rem .25rem var(--color-bordes);
}

.CuadroBusqueda__input::placeholder {
  opacity: .35;
  font-size: 1.25rem;
  color: var(--color-texto);
}

.CuadroBusqueda__icono_buscar {
  position: absolute;
  top: 0;
  left: .75rem;
  font-size: 1.5rem;
  color: var(--color-gris);
  height: 3rem;
}

.CuadroBusqueda__boton_buscar {
  margin-bottom: 1.5rem;
  background: var(--color-principal-2);
  height: 2.5rem;
  color: var(--color-texto-claro);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all .25s ease;
  padding: 0 2rem;
  border: none;
  outline: none;
}

.CuadroBusqueda__boton_buscar:hover {
  filter: brightness(110%);
}

@keyframes aparece-input-busqueda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .CuadroBusqueda__input {
    width: 20ch;
  }
}