.CuadroBusqueda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-bottom: 5rem;
}

.CuadroBusqueda__formulario {
  display: flex;
  flex-direction: column;
  position: relative;
}

.CuadroBusqueda__input {
  height: 3rem;
  padding: 0 1.5rem 0 3rem;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  border: 1px solid var(--color-bordes);
  margin-bottom: 1rem;
  outline: none;
  width: 24ch;
  transition: all .25s ease;
  animation: aparece-input-busqueda .5s ease both;
  display: flex;
  align-items: center;
  background: var(--color-fondo);
  color: var(--color-texto);
}

.CuadroBusqueda__input:focus {
  box-shadow: 0 .05rem .25rem var(--color-bordes);
}

.CuadroBusqueda__input::placeholder {
  opacity: .35;
  font-size: 1.25rem;
  color: var(--color-texto);
}

.CuadroBusqueda__icono_buscar {
  position: absolute;
  top: 0;
  left: .75rem;
  font-size: 1.5rem;
  color: var(--color-gris);
  height: 3rem;
}

.CuadroBusqueda__boton_buscar {
  margin-bottom: 1.5rem;
  background: var(--color-principal-2);
  height: 2.5rem;
  color: var(--color-texto-claro);
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: all .25s ease;
  padding: 0 2rem;
  border: none;
  outline: none;
  animation: aparece-boton-busqueda .5s .05s ease both;
}

.CuadroBusqueda__boton_buscar:hover {
  filter: brightness(110%);
}

.CuadroBusqueda__explicacion {
  font-size: .9rem;
  max-width: 40ch;
  line-height: 1.5;
  text-align: center;
  opacity: .8;
  animation: aparece-explicacion-busqueda 1s .3s ease both;
}

@keyframes aparece-input-busqueda {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes aparece-boton-busqueda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparece-explicacion-busqueda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

@media (orientation: portrait) {
  .CuadroBusqueda__input {
    width: 20ch;
  }
}