.InteractionsLegacyTableRow {
  display: flex;
  border-bottom: 1px solid var(--color-bordes);
  padding: 0.4rem 0;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.InteractionsLegacyTableRow:hover {
  background-color: var(--color-fila-destacada);
}

.InteractionsLegacyTableRow--headers {
  position: sticky;
  top: 0;
  background-color: var(--color-fondo);
  z-index: 2;
}

.InteractionsLegacyTableRow--headers:hover {
  background-color: inherit;
}

.InteractionsLegacyTableRow__cell {
  padding-left: 0.25rem;
  flex: 1;
  min-width: 7rem;
  max-width: 7rem;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.InteractionsLegacyTableRow__cell--header {
  white-space: nowrap;
  padding-top: 0.25rem;
  padding-bottom: 0.2rem;
  flex: 1;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-fondo);
}

.InteractionsLegacyTableRow__cell--notes-header {
  max-width: 1.5rem;
  min-width: 1.5rem;
  justify-content: center;
}

.InteractionsLegacyTableRow__cell--notes-cell {
  max-width: 1.5rem;
  min-width: 1.5rem;
  justify-content: center;
}

.InteractionsLegacyTableRow__cell--tag-container {
  display: flex;
  justify-content: flex-start;
}

.InteractionsLegacyTableRow--active,
.InteractionsLegacyTableRow--active:hover {
  background-color: var(--color-fondo);
}
