.InteractionsLegacyTableRow {
  display: contents;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.InteractionsLegacyTableRow:hover > div {
  background-color: var(--color-fila-destacada);
}

.InteractionsLegacyTableRow--headers:hover {
  background-color: inherit;
}

.InteractionsLegacyTableRow__cell:first-child {
  padding: 0 0.75rem;
}

.InteractionsLegacyTableRow__cell {
  padding-left: 0;
  flex: 1;
  padding-right: 1.5rem;
  line-height: 1.5;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 1.8rem;
  font-size: 0.6rem;
  border-bottom: 1px solid var(--color-bordes);
}

.InteractionsLegacyTableRow__cell--header {
  white-space: nowrap;
  padding-top: 0.25rem;
  padding-bottom: 0.2rem;
  flex: 1;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-fondo);
  position: sticky;
  top: 0;
  background-color: var(--color-fondo);
  z-index: 2;
}
