.Busqueda {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Busqueda__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.75rem;
  padding-bottom: 1rem;
}

.Busqueda__titulo {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'Raleway';
}

.Busqueda__contenedor {
  display: flex;
  flex-direction: column;
  flex: 1;
}
