.Busqueda {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--color-texto);
  min-height: 75vh;
  padding: 1rem 1rem 0rem 1rem;
}

.Busqueda__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.75rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 2;
}

.Busqueda__cover {
  position: absolute;
  width: 100vw;
  height: 2rem;
  bottom: 0;
  left: -1rem;
  background-color: var(--color-fondo);
  z-index: 1;
}

.Busqueda__sombra {
  position: absolute;
  width: 100%;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .25);
  height: .5rem;
  bottom: 0;
}

.Busqueda__titulo {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Raleway';
  z-index: 3;
}

.Busqueda__contenedor {
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media (orientation: portrait) {
  .Busqueda__titulo {
    font-size: 1.35rem;
  }
}