.MenuUsuario__boton_mostrar_popup {
  border: none;
  background: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--color-texto);
  transition: all .25s ease;
  outline: none;
  display: flex;
  align-items: center;
  gap: .25rem;
  padding-right: .5rem;
}

.MenuUsuario--incognito .MenuUsuario__boton_mostrar_popup {
  background: var(--color-secundario);
  color: var(--color-texto-claro);
  border-radius: 9in;
  padding: .25rem 1rem;
}

.MenuUsuario__boton_mostrar_popup:hover {
  filter: opacity(70%);
}

.MenuUsuario__nombre_usuario {
  font-size: .6rem;
}