.MenuUsuario {
  padding-right: 1rem;
}

.MenuUsuario__boton_mostrar_popup {
  border: none;
  background: none;
  font-size: 1.35rem;
  cursor: pointer;
  color: #5e7782;
  transition: all .15s ease;
  outline: none;
}

.MenuUsuario__boton_mostrar_popup:hover {
  color: #334147;
}