.MensajeSinWhatsapp {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 0.5rem;
  background-color: var(--color-unreachable);
  font-size: 0.8rem;
  padding: 1.5rem 1rem 1rem 1rem;
  line-height: 1.25;
  border-radius: 0.5rem;
  position: relative;
}

.MensajeSinWhatsapp__iconos {
  display: flex;
  font-size: 2rem;
  color: var(--color-texto);
}

.MensajeSinWhatsapp__fecha {
  opacity: 0.75;
  font-size: 0.45rem;
  position: absolute;
  right: 0.35rem;
  text-align: right;
  bottom: 0.25rem;
}

.MensajeSinWhatsapp__titulo {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.MensajeSinWhatsapp__boton_explicacion {
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.45rem;
  opacity: 0.6;
}

.MensajeSinWhatsapp__boton_explicacion:hover {
  opacity: 1;
}

.MensajeSinWhatsapp__contenido {
  font-size: 0.65rem;
  line-height: 1.25;
}

.MensajeSinWhatsapp__lista_telefonos {
  margin-top: 0.25rem;
  margin-left: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
}
