.Chat {
  display: grid;
  grid-template: auto 1fr / 1fr auto 1.25fr;
  gap: .5rem 0;
  animation: aparece-chat .15s ease both;
  transform: translateY(-.75rem);
  padding-top: .5rem;
}

.Chat__contenedor_json {
  position: absolute;
  z-index: 3;
  background-color: var(--color-principal);
  color: var(--color-texto-claro);
  padding: .25rem;
  border-radius: .25rem;
  font-size: .75rem;
  max-height: 90vh;
  overflow: auto;
  cursor: move;
}

@keyframes aparece-chat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .Chat {
    flex-direction: column;
    overflow: auto;
    width: 100vw;
  }
}
