.ListaInteracciones {
  padding-top: 0rem;
  background-color: var(--color-fondo);
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 6rem);
}

.ListaInteracciones__interaccion {
  display: grid;
  grid-template-columns: 2rem 8rem 15rem 6rem 5rem 9rem 1fr;
  font-size: .6rem;
  border-bottom: 1px solid var(--color-bordes);
  cursor: pointer;
  position: relative;
  transition: all .25s ease;
  cursor: pointer;
  transition: all .25s ease;
}

.ListaInteracciones__interaccion:not(.ListaInteracciones__interaccion--encabezados):hover {
  background-color: var(--color-fila-destacada);
}

.ListaInteracciones__interaccion > div {
  border-right: 1px solid var(--color-bordes);
  padding: 0 .5rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.ListaInteracciones__interaccion > div:first-child {
  padding-left: 1rem;
  opacity: .35;
  border-right: none;
}

.ListaInteracciones__interaccion > div:last-child {
  border-right: 1px solid transparent;
}

.ListaInteracciones__interaccion--encabezados {
  background-color: hsl(225, 21%, 97%);
  position: sticky;
  top: 0;
  z-index: 3;
}

.ListaInteracciones__sin_citas {
  font-size: .6rem;
  padding-left: 4rem;
  height: 4rem;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  gap: .25rem;
  border-bottom: 1px solid var(--color-bordes);
}

.ListaInteracciones__icono_sin_citas {
  font-size: 1.5rem;
  color: var(--color-texto);
}

.ListaInteracciones__mensaje_sin_citas {
  border: 1px solid var(--color-texto);
  padding: .5rem .5rem;
  border-radius: 1rem 1rem 1rem 0;
  transform: translateY(-.75rem);
  transform-origin: 0% 100%;
  animation: aparece-mensaje-sin-citas .25s ease both;
}

.ListaInteracciones__interaccion::after {
  position: absolute;
  content: '';
  right: -2.5rem;
  transition: all .35s ease;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-principal);
  transform: rotateZ(45deg);
  top: .5rem;
}

.ListaInteracciones__interaccion--activa::after {
  right: 31.75rem;
  box-shadow: 0 0 .15rem var(--color-sombras);
}

.ListaInteracciones__interaccion--activa {
  box-shadow: 0 0 .25rem var(--color-sombras);
  border-bottom: 1px solid var(--color-sombras);
  z-index: 2;
}

.ListaInteracciones__avatar {
  width: 0;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto-claro);
  opacity: 0;
}

.ListaInteracciones__avatar--visible {
  animation: aparece-avatar-fila-interaccion .15s ease both;
}

.ListaInteracciones__icono_estado_interaccion {
  margin-left: .35rem;
}

@keyframes aparece-mensaje-sin-citas {
  0% {
    opacity: 0;
    transform: translateY(-.75rem) scale(.95);
  }
  100% {
    opacity: 1;
    transform: translateY(-.75rem) scale(1);
  }
}

@keyframes aparece-avatar-fila-interaccion {
  0% {
    width: 0;
    transform: scale(.75);
  }
  50% {
    width: 1rem;
    opacity: 0;
    transform: scale(.75);
  }
  100% {
    width: 1rem;
    transform: scale(1);
    opacity: 1;
    margin-right: .35rem;
  }
}