.ListaInteracciones {
  margin: 0 .75rem;
  padding-top: 0rem;
}

.ListaInteracciones__interaccion {
  display: grid;
  grid-template-columns: 20ch 42ch 10ch 15ch 1fr;
  font-size: .65rem;
  border-bottom: 1px solid var(--color-bordes);
}

.ListaInteracciones__interaccion div {
  border-right: 1px solid var(--color-bordes);
  padding: .6rem .35rem;
}

.ListaInteracciones__interaccion div:last-child {
  border-right: 1px solid transparent;
}

.ListaInteracciones__interaccion--encabezados {
  border-top: 1px solid var(--color-bordes);
  opacity: .6;
}