.CajonChat {
  width: 38rem;
  overflow: hidden;
  display: none;
  transition: all .35s ease-in-out;
  background-color: var(--color-barra-superior);
  display: flex;
  flex-direction: column;
}

.CajonChat__superior {
  height: 2.75rem;
  color: var(--color-texto);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 1px 0 var(--color-bordes);
}

.CajonChat__mensajes {
  background: var(--whatsapp-fondo);
  flex: 1;
}
