.AlertaPilotos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  height: .85rem;
  padding: .1rem 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background: var(--color-secundario);
  font-size: .65rem;
  box-shadow: 0 .1rem .25rem rgba(0, 0, 0, .2);
  transition: all .25s ease;
  cursor: default;
  overflow: hidden;
}

.AlertaPilotos:hover {
  height: 1.25rem;
}

.AlertaPilotos strong {
  font-weight: bolder;
  padding: 0 .3rem;
}

.AlertaPilotos strong::first-letter {
  text-transform: capitalize;
}

.AlertaPilotos__link {
  background: var(--color-principal);
  color: var(--color-texto-claro);
  padding: .2rem .65rem;
  margin-left: .5rem;
  display: flex;
  align-items: center;
  font-size: .65rem;
  font-weight: 500;
  transition: all .15s ease;
  border-radius: .25rem;
}

.AlertaPilotos__link:hover {
  filter: brightness(110%);
}