.Smartphone {
  height: 90vh;
  aspect-ratio: 9 / 18.5;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Smartphone__screen {
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  border-radius: 1.75rem;
  background-color: var(--whatsapp-color-celular);
  box-shadow: 0 0 0 0.3rem black, 0 0 0 0.4rem var(--phone-color),
    0 0 0 0.45rem rgba(255, 255, 255, 0.7), 0 0 0 0.55rem var(--phone-color),
    -0.02rem -0.02rem 0 0.325rem var(--whatsapp-color-brillo-celular),
    0.03rem 0.03rem 0 0.325rem var(--whatsapp-color-brillo-2-celular),
    0 0.05rem 0.25rem 0.55rem var(--color-sombras),
    0 0.25rem 0.25rem 0.5rem var(--color-sombras);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.25s ease;
}

.Smartphone__app_bar {
  border-radius: 1.75rem 1.75rem 0 0;
  color: var(--color-texto);
  background-color: var(--color-barra-superior);
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.05rem 0.05rem var(--color-sombras);
  z-index: 3;
}

.Smartphone__messages_container {
  background: var(--whatsapp-fondo);
  flex: 1;
  border-radius: 0 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem 50vh 0.5rem;
  scrollbar-width: 0.35rem;
  scrollbar-color: var(--whatsapp-color-scrollbar-contenedor-mensajes)
    var(--color-fondo);
}

.Smartphone__messages_container::-webkit-scrollbar {
  border-radius: 0.1rem;
  width: 0.35rem;
  background-color: transparent;
}

.Smartphone__messages_container::-webkit-scrollbar-thumb {
  border-radius: 0.1rem;
  width: 0.35rem;
  background-color: var(--whatsapp-color-scrollbar-contenedor-mensajes);
}

.Smartphone__loading_message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  gap: 0.25rem;
  font-size: 0.6rem;
}

@keyframes Smartphone__message {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
