.SmartphoneComment {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.65rem;
  padding-left: 0.25rem;
  line-height: 1.25;
  margin-left: 0.4rem;
}

.SmartphoneComment__icon_container {
  place-self: flex-start;
  display: flex;
  align-items: center;
  height: 100%;
}

.SmartphoneComment__time {
  display: flex;
  align-items: center;
  height: 100%;
}

.SmartphoneComment__text {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 30ch;
}
