.SmartphoneComment {
  display: flex;
  align-self: flex-start;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.65rem;
  padding-left: 0.25rem;
}

.SmartphoneComment__icon_container {
  place-self: flex-start;
}
