.SmartphoneMessagesDate {
  align-self: center;
  background-color: var(--whatsapp-fondo-fecha);
  display: flex;
  align-items: center;
  font-size: 0.64rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 0.075rem 0 rgb(230, 230, 230);
  color: var(--whatsapp-color-texto-fecha);
  position: sticky;
  top: 0;
  z-index: 101;
  justify-content: center;
  gap: 0.3rem;
  scroll-margin-top: 0.25rem;
  width: 100%;
}
