.DatosChat {
  flex: 1;
  color: var(--color-texto);
}

.DatosChat__navegacion {
  display: flex;
  justify-content: space-between;
}

.DatosChat__icono_volver {
  margin-right: .25rem;
  font-size: .8rem;
}

.DatosChat__botones_navegacion {
  display: flex;
  align-items: center;
}

.DatosChat__link_atras {
  font-weight: bold;
  font-size: .75rem;
  display: flex;
  align-items: center;
  transition: all .15s ease;
  height: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  outline: none;
}

.DatosChat__link_atras:hover {
  opacity: .8;
}

.DatosChat__link_siguiente,
.DatosChat__link_anterior {
  font-weight: bold;
  font-size: .8rem;
  display: flex;
  align-items: center;
  transition: all .15s ease;
  height: 1rem;
  opacity: .65;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.DatosChat__link_anterior {
  transform: scaleX(-1);
}

.DatosChat__icono_siguiente,
.DatosChat__icono_anterior {
  font-size: .9rem;
}

.DatosChat__link_siguiente:hover {
  opacity: 1;
}

.DatosChat__posicion {
  font-weight: 600;
  font-size: .7rem;
  display: flex;
  justify-content: center;
  padding: 0 .5rem;
  min-width: 4rem;
}

.DatosChat__titulo {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Raleway';
  margin-top: .75rem;
  margin-bottom: 1.5rem;
}

.DatosChat__contenedor_datos {
  max-height: calc(100vh - 12.5rem);
  overflow: auto;
  padding-right: 1rem;
}

.DatosChat__contenedor_datos::-webkit-scrollbar {
  width: .6em;
  height: .6em;
  background-color: var(--color-fondo);
}

.DatosChat__contenedor_datos::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--color-principal);
}

.DatosChat__contenedor_header {
  min-height: 2.75rem;
  padding: .5rem 0;
  display: flex;
  align-items: center;
  font-size: .85rem;
  line-height: 1.15;
  border-bottom: 1px solid var(--color-bordes);
  align-items: center;
  animation: aparece-contenedor-datos .25s ease both;
}

.DatosChat__contenedor_header:last-child {
  border: none;
}

.DatosChat__nombre_header {
  font-weight: 600;
  min-width: 12em;
  max-width: 12em;
  padding-right: 1rem;
}

@keyframes aparece-contenedor-datos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}