.DatosChat {
  grid-row: span 2;
  color: var(--color-texto);
}

.DatosChat__navegacion {
  display: flex;
  justify-content: space-between;
}

.DatosChat__icono_volver {
  margin-right: 0.5rem;
  font-size: 0.85rem;
}

.DatosChat__botones_navegacion {
  display: flex;
  align-items: center;
}

.DatosChat__link_atras {
  font-weight: 600;
  font-size: 0.7rem;
  display: flex;
  align-items: flex-end;
  background: none;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0;
  outline: none;
  color: var(--color-texto);
}

.DatosChat__link_atras:hover {
  text-decoration: underline;
}

.DatosChat__link_siguiente,
.DatosChat__link_anterior {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  color: var(--color-texto-claro);
  background: var(--color-principal);
  border-radius: 50%;
}

.DatosChat__link_anterior {
  transform: scaleX(-1);
}

.DatosChat__icono_siguiente,
.DatosChat__icono_anterior {
  font-size: 0.8rem;
}

.DatosChat__link_anterior:hover,
.DatosChat__link_siguiente:hover {
  filter: brightness(120%);
}

.DatosChat__link_anterior:disabled,
.DatosChat__link_siguiente:disabled {
  filter: saturate(0%) opacity(0.4);
}

.DatosChat__posicion {
  font-weight: 600;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  padding: 0 0.75rem;
}

.DatosChat__titulo {
  font-weight: bold;
  font-size: 1.35rem;
  font-family: 'Raleway';
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.DatosChat__contenedor_datos {
  max-height: calc(100vh - 12.5rem);
  overflow: auto;
  padding-right: 1rem;
}

.DatosChat__contenedor_datos::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--color-fondo);
}

.DatosChat__contenedor_datos::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--color-principal);
}

.DatosChat__contenedor_header {
  min-height: 2.75rem;
  padding: 0.5rem 0 0.5rem 0.25rem;
  display: flex;
  font-size: 0.7rem;
  line-height: 1.15;
  border-bottom: 1px solid var(--color-bordes);
  align-items: center;
  position: relative;
  animation: aparece-contenedor-datos 0.25s ease both;
  z-index: 2;
}

.DatosChat__contenedor_header:hover {
  background: var(--color-fila-destacada);
}

.DatosChat__contenedor_header:last-child {
  border: none;
}

.DatosChat__nombre_header {
  display: flex;
  gap: 0.25rem;
  font-weight: 600;
  min-width: 12rem;
  max-width: 12rem;
  padding-right: 1rem;
}

.DatosChat__link_ws {
  color: var(--color-whatsapp);
  margin-left: 0.1rem;
  font-size: 0.8rem;
}

.DatosChat__valor_header {
  display: flex;
}

.DatosChat__contenedor_header:hover .DatosChat__boton_copiar {
  opacity: 1;
}

.DatosChat__boton_copiar {
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  right: 0.25rem;
  display: flex;
  opacity: 0;
  align-items: center;
  gap: 0.25rem;
  color: var(--color-principal);
  background-color: var(--color-fila-destacada);
  box-shadow: 0 0.05rem 0.1rem var(--color-sombras);
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.DatosChat__boton_copiar:hover {
  filter: brightness(105%);
}

.DatosChat__boton_copiar:active {
  opacity: 0.8 !important;
}

.DatosChat__contenedor_reintentos {
  position: relative;
  cursor: help;
  display: flex;
  transition: all 0.25s ease;
  opacity: 0;
  z-index: 10;
  align-items: center;
}

.DatosChat__icono_reintentos {
  color: var(--color-secundario);
  font-size: 0.9rem;
  cursor: help;
}

.DatosChat__reintentos {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 5rem;
  top: 0;
  pointer-events: none;
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
  white-space: nowrap;
  gap: 0.25rem;
  padding: 0.5rem;
  font-size: 0.65rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.25rem var(--color-sombras);
}

.DatosChat__contenedor_reintentos--visible {
  opacity: 1;
}

@keyframes aparece-contenedor-datos {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1240px) {
  .DatosChat {
    height: calc(100vh - 7.5rem);
    padding-left: 1rem;
  }

  .DatosChat__navegacion {
    flex-direction: column;
    gap: 0.25rem;
  }

  .DatosChat__titulo {
    font-size: 1.25rem;
  }

  .DatosChat__contenedor_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
}
