.CajonInteraccion {
  position: fixed;
  right: -100%;
  bottom: 0;
  background-color: var(--color-fondo);
  height: calc(100vh - 5.75rem);
  box-shadow: 0 0 .25rem var(--color-sombras);
  transition: all .35s ease;
  background-color: var(--color-fondo);
  border-left: 1px solid var(--color-bordes);
  border-top-left-radius: .15rem;
  z-index: 4;
  display: flex;
  flex-direction: column;
  transition: all .25s ease;
}

.CajonInteraccion--visible {
  right: 0;
}

.CajonInteraccion__boton_cerrar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: .8rem;
  cursor: pointer;
  color: var(--color-texto);
  border-radius: 50%;
  padding: 0;
  opacity: 0;
  transition: all .15s ease;
}

.CajonInteraccion__boton_cerrar--visible {
  opacity: .6;
}

.CajonInteraccion__boton_cerrar:hover {
  opacity: 1;
}

.CajonInteraccion__superior {
  height: 3rem;
  background-color: var(--color-barra-superior);
  border-top-left-radius: .15rem;
  padding: .5rem .75rem;
  display: grid;
  grid-template: 1.25fr 1fr / auto 1fr auto;
  gap: .25rem .5rem;
}

.CajonInteraccion__superior_avatar {
  grid-row: span 2;
  width: 1.75rem;
  height: 1.75rem;
}

.CajonInteraccion__titulo {
  font-size: .75rem;
  place-self: end start;
  display: flex;
}

.CajonInteraccion__subtitulo {
  font-size: .65rem;
  place-self: start start;
  opacity: .75;
}

.CajonInteraccion__botones_acciones {
  grid-row: span 2;
}

.CajonInteraccion__boton_accion {
  background: none;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
  opacity: .75;
}

.CajonInteraccion__icono_estado_interaccion {
  margin-left: .15rem;
  display: flex;
  cursor: help;
}

.CajonInteraccion__loader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}

.CajonInteraccion__skeleton_telefono {
  border-radius: 9in;
  width: 15ch;
  height: .55rem;
  margin-top: .1rem;
  background-color: var(--color-skeleton);
  display: inline-flex;
  animation: animacion-skeletons .75s linear alternate-reverse infinite both;
}

.CajonInteraccion__principal {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CajonInteraccion__telefono {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0 1vh black;
  border-radius: 1.75vh;
  height: calc(100vh - 12rem);
  aspect-ratio: 9 / 17;
  margin: 0 2rem;
}

.CajonInteraccion__telefono_barra {
  flex: 1;
  background-color: var(--whatsapp-fondo-barra-superior);
  border-radius: 1.5vh 1.5vh 0 0;
}

.CajonInteraccion__telefono_mensajes {
  flex: 9;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--whatsapp-fondo);
  border-radius: 0 0 1.5vh 1.5vh;
}

.CajonInteraccion__telefono_mensajes::-webkit-scrollbar {
  width: .35em;
  background-color: transparent;
}

.CajonInteraccion__telefono_mensajes::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--whatsapp-color-scrollbar-contenedor-mensajes);
}

@keyframes animacion-skeletons {
  0% {
    opacity: .35;
  }
  100% {
    opacity: 1;
  }
}