.CajonInteraccion {
  position: fixed;
  right: -33rem;
  bottom: 0;
  background-color: var(--color-fondo);
  width: 33rem;
  height: calc(100vh - 5.75rem);
  box-shadow: 0 0 .25rem var(--color-sombras);
  transition: all .35s ease;
  background: var(--whatsapp-fondo);
  border-left: 1px solid var(--color-bordes);
  border-top-left-radius: .15rem;
  z-index: 4;
}

.CajonInteraccion--visible {
  right: 0;
}

.CajonInteraccion__boton_cerrar {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: .8rem;
  cursor: pointer;
  color: var(--color-texto);
  border-radius: 50%;
  padding: 0;
  opacity: 0;
  transition: all .15s ease;
}

.CajonInteraccion__boton_cerrar--visible {
  opacity: .6;
}

.CajonInteraccion__boton_cerrar:hover {
  opacity: 1;
}

.CajonInteraccion__superior {
  height: 3rem;
  background-color: var(--color-barra-superior);
  border-top-left-radius: .15rem;
  padding: .5rem .75rem;
  display: grid;
  grid-template: 1.25fr 1fr / auto 1fr;
  gap: .25rem .5rem;
}

.CajonInteraccion__superior_avatar {
  grid-row: span 2;
  width: 1.75rem;
  height: 1.75rem;
}

.CajonInteraccion__titulo {
  font-size: .75rem;
  place-self: end start;
}

.CajonInteraccion__subtitulo {
  font-size: .65rem;
  place-self: start start;
  opacity: .75;
}

.CajonInteraccion__avatar_mensaje {
  width: .85rem;
  height: .85rem;
  font-size: .5rem;
}

.CajonInteraccion__nombre_emisor_mensaje {
  opacity: .75;
}

.CajonInteraccion__mensajes {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: .5rem .75rem;
  overflow-y: scroll;
  max-height: calc(100vh - 9rem);
  padding-bottom: 50vh;
}

.CajonInteraccion__mensaje {
  background-color: var(--color-fondo);
  display: grid;
  grid-template: auto 1fr / 1fr .33fr;
  gap: .35rem 1rem;
  max-width: 66%;
  padding: .5rem;
  font-size: .65rem;
  border-radius: .25rem;
  filter: drop-shadow(0 1px 1px var(--color-sombras));
  position: relative;
}

.CajonInteraccion__mensaje::after {
  content: '';
  width: .5rem;
  height: .5rem;
  background-color: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  top: 0;
  right: -.45rem;
  position: absolute;
}

.CajonInteraccion__mensaje--usuario {
  align-self: flex-start;
  border-top-left-radius: 0;
}

.CajonInteraccion__mensaje--bot {
  align-self: flex-end;
  border-top-right-radius: 0;
  background-color: var(--whatsapp-fondo-mensajes-salientes);
}

.CajonInteraccion__mensaje--usuario::after {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  top: 0;
  left: -.45rem;
}

.CajonInteraccion__mensaje_emisor {
  font-size: .55rem;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.CajonInteraccion__mensaje_hora {
  place-self: center end;
  font-size: .55rem;
  opacity: .75;
}

.CajonInteraccion__mensaje_contenido {
  grid-column: span 2;
  line-height: 1.35;
}