.AlertsFilters {
  font-size: 0.65rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.AlertsFilters label {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
