.Search {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-texto);
  --search-topbar-height: 2rem;
  position: relative;
}

.Search__topbar {
  height: var(--search-topbar-height);
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: var(--color-barra-superior);
  border-bottom: 1px solid var(--color-bordes);
  gap: 1rem;
}

.Search__drawer {
  position: absolute;
  height: 100%;
  right: 0;
  background: blue;
  transition: all 0.35s ease-out;
  width: 33rem;
  opacity: 1;
}

.Search__drawer--hidden {
  right: -100%;
  opacity: 0;
}
