.Novedades__fondo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-sombras);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.Novedades {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-fondo);
  position: relative;
  padding: 2rem 1.5rem;
  border-radius: .25rem;
  gap: .75rem;
}

.Novedades__titulo {
  font-weight: bold;
  font-size: 1.35rem;
}

.Novedades__subtitulo {
  font-weight: 600;
  font-size: .85rem;
  opacity: .75;
}

.Novedades__boton_cerrar {
  position: absolute;
  right: .25rem;
  top: .25rem;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.Novedades__contenedor_tabs {
  display: grid;
  grid-auto-flow: column;
  grid-template: auto auto 1fr / 1fr 1.75fr;
  width: 50rem;
  padding-top: 2rem;
  gap: 2rem 2rem;
}

.Novedades__imagen {
  grid-row: span 3;
  height: 50vh;
  place-self: center;
  max-width: 25rem;
  object-fit: contain;
}

.Novedades__boton_novedad {
  display: grid;
  grid-template: auto 1fr / 1fr 4fr;
  background: var(--color-fondo);
  border: none;
  cursor: pointer;
  gap: .25rem 0;
  line-height: 1.5;
}

.Novedades__icono_novedad {
  grid-row: span 2;
  place-self: start center;
  font-size: 2.5rem;
  padding-top: .5rem;
}

.Novedades__titulo_novedad {
  text-align: left;
  font-size: .65rem;
  font-weight: 600;
}

.Novedades__subtitulo_novedad {
  text-align: left;
  font-size: .6rem;
  opacity: .75;
}