.AlertsCount {
  position: absolute;
  right: 0.35rem;
  top: 0.25rem;
  font-size: 0.5rem;
  font-weight: bold;
  background-color: var(--pending-alerts-color);
  border-radius: 9in;
  width: 0.9rem;
  height: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--color-texto-claro);
}
