.BuscadorRespuestas {
  display: flex;
  align-items: center;
  font-size: .8rem;
}

.BuscadorRespuestas__input {
  width: 20ch;
  border-radius: 1rem;
  height: 2rem;
  outline: none;
  border: 1px solid var(--color-bordes);
  margin: 0 .5rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1rem;
}