.BuscadorRespuestas {
  display: flex;
  align-items: center;
  font-size: .8rem;
  position: relative;
}

.BuscadorRespuestas__contenedor_icono {
  position: absolute;
  right: .5rem;
  top: 0;
  z-index: 2;
  font-size: 1.35rem;
  height: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.BuscadorRespuestas__icono {
  color: var(--color-gris);
}

.BuscadorRespuestas__input {
  width: 20ch;
  border-radius: 1rem;
  height: 2rem;
  outline: none;
  border: 1px solid var(--color-bordes);
  margin-left: .5rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 1rem;
  transition: all .25s ease;
  letter-spacing: 1px;
}

.BuscadorRespuestas__input:focus,
.BuscadorRespuestas__input--activo {
  box-shadow: 0rem 0rem .35rem var(--color-secundario);
}
