.TablaRespuestas {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TablaRespuestas__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.75rem;
  padding-bottom: 1rem;
}

.TablaRespuestas__titulo {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'Raleway';
}

.TablaRespuestas__contenedor_tabla {
  display: flex;
  flex-direction: column;
  animation: aparece-tabla-respuestas .25s ease both;
  flex: 1;
  max-height: calc(100vh - calc(2.75rem + 3rem + 3.5rem + 2.25rem));
  max-width: calc(100vw - 7rem);
  overflow: auto;
  scrollbar-width: .5em;
  scrollbar-color: var(--color-principal) white;
}

.TablaRespuestas__contenedor_tabla::-webkit-scrollbar {
  width: .6em;
  height: .6em;
  background-color: white;
}

.TablaRespuestas__contenedor_tabla::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--color-principal);
}

.TablaRespuestas__tabla {
  max-width: 100%;
  padding-top: 1.25rem;
}

.TablaRespuestas__tabla thead, .TablaRespuestas__tabla th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.TablaRespuestas__tabla thead th {
  /* box-shadow: 0 .25rem .25rem rgba(0, 0, 0, .1); */
  height: 2rem;
}

.TablaRespuestas__header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7rem;
  text-align: left;
  white-space: nowrap;
  padding: .75rem 1rem .75rem 0;
}

.TablaRespuestas__fila {
  border-bottom: 1px solid var(--color-bordes);
  cursor: pointer;
  transition: all .15s ease;
}

.TablaRespuestas tbody .TablaRespuestas__fila:hover {
  background-color: #f6f5fe;
}

.TablaRespuestas__celda {
  padding: .15rem 1rem .15rem 0;
  font-size: .8rem;
  vertical-align: middle;
  height: 2.5rem;
  line-height: 1.15;
  white-space: nowrap;
}

.TablaRespuestas__header--oculto,
.TablaRespuestas__celda--oculta {
  display: none;
}

.TablaRespuestas__footer {
  display: flex;
  justify-content: flex-end;
  height: 3.5rem;
  align-items: center;
  border-top: 1px solid var(--color-bordes);
}

.TablaRespuestas__numero_total {
  font-weight: 600;
}

.TablaRespuestas__boton_pagina {
  margin-left: .45rem;
  font-weight: 600;
  border-radius: .35rem;
  padding: .35rem .5rem;
  background-color: white;
  color: var(--color-gris);
  border: 2px solid var(--color-bordes);
  cursor: pointer;
  box-shadow: 0 .05rem .15rem rgba(0, 0, 0, .1);
  transition: all .25s ease;
}

.TablaRespuestas__boton_pagina:disabled {
  filter: brightness(110%) saturate(20%);
  border: 1px solid var(--color-bordes);
}

.TablaRespuestas__total {
  font-size: .85rem;
  padding-right: 1rem;
}

@keyframes aparece-tabla-respuestas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}