.TablaRespuestas {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TablaRespuestas__contenedor {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  overflow: hidden;
}

.TablaRespuestas__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.25rem;
  padding-bottom: 1rem;
}

.TablaRespuestas__herramientas {
  display: flex;
  align-items: center;
}

.TablaRespuestas__titulo {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'Raleway';
}

.TablaRespuestas__contenedor_tabla {
  display: flex;
  flex-direction: column;
  animation: aparece-tabla-respuestas .25s ease both;
  flex: 1;
  --h: calc(100vh - calc(2.75rem + 3rem + 3.5rem + 9.5rem));
  min-height: var(--h);
  max-height: var(--h);
  max-width: calc(100vw - 7rem);
  overflow: auto;
  scrollbar-width: .5em;
  scrollbar-color: var(--color-principal) var(--color-blanco);
}

.TablaRespuestas__contenedor_tabla--extendido {
  --h: calc(100vh - calc(2.75rem + 9.5rem));
}

.TablaRespuestas__contenedor_tabla::-webkit-scrollbar {
  width: .6em;
  height: .6em;
  background-color: var(--color-blanco);
}

.TablaRespuestas__contenedor_tabla::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--color-principal);
}

.TablaRespuestas__tabla {
  max-width: 100%;
}

@keyframes aparece-tabla-respuestas {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .TablaRespuestas__titulo {
    font-size: 1.35rem;
  }

  .TablaRespuestas__herramientas {
    display: none;
  }

  .TablaRespuestas__contenedor_tabla {
    max-width: calc(100vw - 3rem);
    max-height: calc(100vh - calc(2.75rem + 3rem + 3.5rem + 2.25rem + 9rem));
  }
}