.InteractionsLegacyTable {
  display: flex;
  flex-direction: column;
  font-size: 0.65rem;
  position: relative;
  height: 100%;
}

.InteractionsLegacyTable__drawer {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  background: var(--color-fondo);
  transition: right 0.35s ease-out, opacity 0.35s ease-out;
  opacity: 1;
  display: flex;
  z-index: 3;
}

.InteractionsLegacyTable__drawer--hidden {
  right: -100%;
  opacity: 0;
}

.InteractionsLegacyTable__table_container {
  max-height: calc(100vh - 5rem);
  max-width: calc(100vw - 12.75rem);
  overflow: auto;
}
