.FooterTablaRespuestas {
  display: flex;
  justify-content: flex-end;
  height: 2rem;
  align-items: center;
  color: var(--color-texto);
  font-size: .7rem;
}

.FooterTablaRespuestas__numero_total {
  font-weight: bold;
}

.FooterTablaRespuestas__botones_paginas {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.FooterTablaRespuestas__boton_pagina {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .1rem;
  border-radius: .5rem;
  color: var(--color-texto-claro);
  background-color: var(--color-principal);
  padding: .35rem .5rem .35rem .7rem;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .25s ease;
  position: relative;
  font-size: .75rem;
}

.FooterTablaRespuestas__boton_pagina--anterior {
  padding: .35rem .7rem .35rem .5rem;
}

.FooterTablaRespuestas__boton_pagina_icono {
  font-size: 1rem;
}

.FooterTablaRespuestas__boton_pagina--anterior .FooterTablaRespuestas__boton_pagina_icono {
  transform: scaleX(-1) !important;
}

.FooterTablaRespuestas__boton_pagina:disabled {
  opacity: .33;
  cursor: not-allowed;
  box-shadow: 0 0 0 1px var(--color-bordes);
}

.FooterTablaRespuestas__total {
  font-size: .75rem;
  padding-right: 1rem;
}

.FooterTablaRespuestas__datos_paginacion {
  display: flex;
  align-items: center;
}

@media (orientation: portrait) {
  .FooterTablaRespuestas__total {
    display: none;
  }
  .FooterTablaRespuestas__botones_paginas {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}