.Buscador {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Buscador__superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.75rem;
  padding-bottom: 1rem;
}

.Buscador__titulo {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'Raleway';
}

.Buscador__contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  padding-bottom: 2rem;
}
