.BarraLateral {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: sticky;
  height: 100vh;
  width: 2.75rem;
  top: 0;
}

.BarraLateral__contenedor_links_secciones {
  display: flex;
  flex-direction: column;
  padding-top: .15rem;
}

.BarraLateral__logo {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
  margin-bottom: .25rem;
  position: relative;
}

.BarraLateral__logo p {
  position: absolute;
  z-index: 2;
  top: 1.75rem;
  left: calc(100% - 1.25rem);
  font-size: .55rem;
  font-weight: bold;
  color: var(--color-texto-claro);
  text-shadow: 0 0 .1rem black;
}

.BarraLateral__link_logo {
  padding: 0;
  margin: 0;
}

.BarraLateral__logo_imagen {
  width: 1.7rem;
}

.BarraLateral__link {
  color: rgba(255, 255, 255, .5);
  height: 3.35rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: .25rem;
  transition: all .15s ease;
  position: relative;
}

.BarraLateral__link:hover {
  background-color: var(--color-principal-claro);
}

.BarraLateral__nombre_seccion {
  font-size: .4rem;
}

.BarraLateral__link:active {
  color: var(--color-texto-claro);
  opacity: .9;
}

.BarraLateral__link--activo {
  color: var(--color-texto-claro);
}

.BarraLateral__conteo_alertas {
  position: absolute;
  right: .35rem;
  top: .35rem;
  font-size: .5rem;
  background-color: var(--color-secundario);
  padding: .15rem .25rem;
  z-index: 2;
  border-radius: 9in;
  color: var(--color-texto-claro);
  animation: aparece-conteo-alertas .25s ease-in both;
}

@media(orientation: portrait) {
  .BarraLateral {
    z-index: 100;
    position: fixed;
    height: 3rem;
    width: 100%;
    bottom: 0;
    left: 0;
    top: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-principal);
  }
  
  .BarraLateral__logo,
  .BarraLateral__popup_link {
    display: none;
  }

  .BarraLateral__link {
    margin: 0;
    box-shadow: none;
  }

  .BarraLateral__contenedor_links_secciones {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}

@keyframes aparece-conteo-alertas {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}