.BarraLateral {
  display: flex;
  flex-direction: column;
  z-index: 3;
  position: sticky;
  height: 100vh;
  width: 2.75rem;
  top: 0;
}

.BarraLateral__contenedor_links_secciones {
  display: flex;
  flex-direction: column;
  padding-top: .15rem;
  height: 100%;
}

.BarraLateral__logo {
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, .2);
  cursor: pointer;
  margin-bottom: .25rem;
  position: relative;
}

.BarraLateral__logo p {
  position: absolute;
  z-index: 2;
  top: 1.75rem;
  left: calc(100% - 1.25rem);
  font-size: .55rem;
  font-weight: bold;
  color: var(--color-texto-claro);
  text-shadow: 0 0 .1rem black;
}

.BarraLateral__link_logo {
  padding: 0;
  margin: 0;
}

.BarraLateral__logo_imagen {
  width: 1.7rem;
}

.BarraLateral__link {
  color: rgba(255, 255, 255, .5);
  height: 3.35rem;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: .25rem;
  transition: all .15s ease;
  position: relative;
}

.BarraLateral__link:hover {
  background-color: var(--color-principal-claro);
}

.BarraLateral__nombre_seccion {
  font-size: .4rem;
}

.BarraLateral__link:active {
  color: var(--color-texto-claro);
  opacity: .9;
}

.BarraLateral__link--activo {
  color: var(--color-texto-claro);
}

.BarraLateral__fondo {
  margin-top: auto;
  margin-bottom: 1rem;
  position: relative;
}

.BarraLateral__explicacion {
  color: var(--color-texto-claro);
  font-size: .7rem;
  background-color: var(--color-secundario);
  position: absolute;
  z-index: 2;
  left: calc(100% + .25rem);
  font-weight: bold;
  border-radius: .25rem;
  min-width: 28ch;
  padding: .35rem;
  box-shadow: 0 .1rem 0 .05rem var(--color-sombras);
  display: flex;
  flex-direction: column;
  gap: .25rem;
  animation: aparece-explicacion .75s 2s ease-out both;
}

.BarraLateral__explicacion::before {
  content: '';
  position: absolute;
  left: -1rem;
  top: .5rem;
  z-index: 2;
  width: 1rem;
  height: 1rem;
  border: .5rem solid transparent;
  border-right: .5rem solid var(--color-secundario);
}

.BarraLateral__explicacion p {
  font-weight: normal;
}

.BarraLateral__explicacion button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  color: var(--color-texto-claro);
  cursor: pointer;
}

@media(orientation: portrait) {
  .BarraLateral {
    z-index: 100;
    position: fixed;
    height: 3rem;
    width: 100%;
    bottom: 0;
    left: 0;
    top: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background: var(--color-principal);
  }
  
  .BarraLateral__logo,
  .BarraLateral__popup_link {
    display: none;
  }

  .BarraLateral__link {
    margin: 0;
    box-shadow: none;
  }

  .BarraLateral__contenedor_links_secciones {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}

@keyframes aparece-conteo-alertas {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes aparece-explicacion {
  0% {
    opacity: 0;
    transform: translateX(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}