.InteractionsTable {
  font-size: 0.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0.5rem - var(--search-topbar-height));
  overflow-y: scroll;
  padding: 0 0.5rem 0.5rem 0.5rem;
}

.InteractionsTable__table {
  width: 100%;
}

.InteractionsTable__thead {
  background-color: var(--color-barra-superior);
  position: sticky;
  top: 0;
}

.InteractionsTable__th {
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0 0 1px var(--color-barra-superior);
  background-color: var(--color-barra-superior);
  text-align: left;
  font-weight: 600;
  white-space: nowrap;
}

.InteractionsTable__td:first-child {
  border-left: none;
}

.InteractionsTable__td:last-child {
  border-right: none;
  width: 100%;
}

.InteractionsTable__td {
  padding: 0.75rem;
  border-top: 1px solid var(--color-bordes);
  border-bottom: 1px solid var(--color-bordes);
  white-space: nowrap;
}

.InteractionsTable__multi_cell:not(:last-child) {
  margin-bottom: 0.5rem;
}

.InteractionsTable__tr {
  cursor: pointer;
  transition: all 0.1s ease;
}

.InteractionsTable__tr:hover {
  background-color: var(--color-fila-destacada);
}

.InteractionsTable__tr:active {
  background-color: var(--color-foco-fila);
}

.InteractionsTable__tr--highlighted,
.InteractionsTable__tr--highlighted:hover {
  background-color: var(--color-fila-muy-destacada);
}
