.MensajesInteraccion {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding: 0 .75rem 0 .75rem;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: calc(100vh - 8.75rem);
  max-height: calc(100vh - 8.75rem);
  padding-bottom: 50vh;
}

.MensajesInteraccion__dia_mensajes {
  align-self: center;
  font-size: .65rem;
  padding: .35rem .5rem;
  border-radius: .25rem;
  margin: .5rem 0 .25rem 0;
  filter: drop-shadow(0 1px 1px var(--color-sombras));
  background-color: var(--whatsapp-fondo-fecha);
}

.MensajesInteraccion__mensaje_avatar {
  width: .85rem;
  height: .85rem;
  font-size: .5rem;
}

.MensajesInteraccion__mensaje_nombre_emisor {
  opacity: .75;
}

.MensajesInteraccion__mensaje {
  background-color: var(--color-fondo);
  display: grid;
  grid-template: auto 1fr / 1fr .33fr;
  gap: .35rem 1rem;
  max-width: 55ch;
  padding: .5rem;
  font-size: .65rem;
  border-radius: .25rem;
  filter: drop-shadow(0 1px 1px var(--color-sombras));
  position: relative;
  transition: all .15s ease;
}

.MensajesInteraccion__mensaje a {
  color: var(--whatsapp-color-links);
}

.MensajesInteraccion__mensaje::after {
  content: '';
  width: .5rem;
  height: .5rem;
  background-color: inherit;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  top: 0;
  right: -.45rem;
  position: absolute;
}

.MensajesInteraccion__mensaje--usuario {
  align-self: flex-start;
  border-top-left-radius: 0;
  animation: aparece-mensaje-interaccion-usuario .35s ease both;
}

.MensajesInteraccion__mensaje--bot {
  align-self: flex-end;
  border-top-right-radius: 0;
  background-color: var(--whatsapp-fondo-mensajes-salientes);
  animation: aparece-mensaje-interaccion-bot .35s ease both;
}

.MensajesInteraccion__mensaje--usuario::after {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  top: 0;
  left: -.45rem;
}

.MensajesInteraccion__mensaje_emisor {
  font-size: .55rem;
  display: flex;
  align-items: center;
  gap: .25rem;
}

.MensajesInteraccion__mensaje_hora {
  place-self: center end;
  font-size: .55rem;
  opacity: .75;
}

.MensajesInteraccion__mensaje_contenido {
  grid-column: span 2;
  line-height: 1.35;
}

.MensajesInteraccion__comentario {
  display: grid;
  grid-template: auto 1fr / 1fr .33fr;
  gap: .35rem 1rem;
  width: 66%;
  padding: .5rem;
  font-size: .65rem;
  border-radius: .25rem;
  position: relative;
  place-self: center center;
  background-color: hsl(40, 100%, 95%);
  box-shadow: 0 1px 1px var(--color-sombras);
  animation: aparece-comentario-interaccion .5s ease both;
}

.MensajesInteraccion__comentario_emisor {
  font-size: .55rem;
  display: flex;
  align-items: center;
  gap: .25rem;
  opacity: .75;
}

.MensajesInteraccion__comentario_emisor svg {
  font-size: .65rem;
}

.MensajesInteraccion__comentario_hora {
  place-self: center end;
  font-size: .55rem;
  opacity: .75;
}

.MensajesInteraccion__comentario_contenido {
  grid-column: span 2;
  line-height: 1.35;
}

a.MensajesInteraccion__archivo {
  cursor: pointer;
  color: var(--color-texto);
  background-color: rgb(245, 246, 246);
  padding: .5rem .75rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  border-radius: .15rem .5rem .5rem .15rem;
}

.MensajesInteraccion__icono_pdf {
  width: 1.25rem;
  height: 1.5rem;
  background-color: rgb(247, 126, 126);
  box-shadow: inset .75rem -1rem rgb(243, 70, 70);
  border-radius: .15rem;
  clip-path: polygon(0% 0%, .75rem 0%, 100% .5rem, 100% 100%, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .45rem;
  padding-top: .25rem;
  font-weight: bold;
  color: var(--color-texto-claro);
}

.MensajesInteraccion__icono_descarga_archivo {
  font-size: 2rem;
  opacity: .33;
}

@keyframes aparece-mensaje-interaccion-usuario {
  0% {
    opacity: 0.1;
    transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aparece-mensaje-interaccion-bot {
  0% {
    opacity: 0.1;
    transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes aparece-comentario-interaccion {
  0% {
    opacity: 0.1;
    transform: translateY(-.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}