.ContenidoChat__loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  font-size: .65rem;
  gap: .5rem;
}

.ContenidoChat {
  padding: .75rem 1rem 6rem .75rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  max-height: calc(100vh - 5rem);
  overflow: auto;
  position: relative;
}

.ContenidoChat::-webkit-scrollbar {
  width: .35em;
  background-color: transparent;
}

.ContenidoChat::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--whatsapp-color-scrollbar-contenedor-mensajes);
}

.ContenidoChat__mensaje {
  background-color: var(--color-fondo);
  padding: .4rem .5rem;
  max-width: 66%;
  font-size: .65rem;
  line-height: 1.35;
  border-radius: .35rem;
  display: flex;
  box-shadow: 0 .05rem var(--color-sombras);
  position: relative;
  animation: ContenidoChat__mensaje_aparece .25s ease both;
}

.ContenidoChat__mensaje--usuario {
  align-self: flex-end;
  background: var(--whatsapp-fondo-mensajes-salientes);
  border-top-right-radius: 0;
}

.ContenidoChat__mensaje--usuario::before,
.ContenidoChat__mensaje--bot::before {
  content: '';
  background: var(--whatsapp-fondo-mensajes-salientes);
  position: absolute;
  width: .75rem;
  height: .75rem;
  top: 0;
  right: -.35rem;
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.ContenidoChat__mensaje--bot::before {
  left: -.35rem;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
  background: var(--whatsapp-fondo-mensajes-entrantes);
}

.ContenidoChat__mensaje--bot {
  align-self: flex-start;
  background: var(--whatsapp-fondo-mensajes-entrantes);
  border-top-left-radius: 0;
}

.ContenidoChat__fecha_mensaje {
  align-self: flex-end;
  white-space: nowrap;
  color: var(--whatsapp-color-texto-fecha);
  font-size: .5rem;
  padding-left: .75rem;
  transform: translateY(.3rem) translateX(.2rem);
  display: inline-flex;
  pointer-events: none;
}

.ContenidoChat__mensaje--dia {
  background-color: var(--whatsapp-fondo-fecha);
  border-radius: .35rem;
  font-size: .65rem;
  padding: .5rem;
  text-align: center;
  box-shadow: 0 .05rem var(--color-sombras);
}

.ContenidoChat__mensaje--cita {
  align-self: center;
  background-color: var(--whatsapp-fondo-fecha);
  font-size: .65rem;
  padding: .5rem;
  border-radius: .35rem;
  box-shadow: 0 .05rem var(--color-sombras);
}

.ContenidoChat__mensaje--dia .ContenidoChat__fecha_mensaje,
.ContenidoChat__mensaje--cita .ContenidoChat__fecha_mensaje,
.ContenidoChat__mensaje--alerta .ContenidoChat__fecha_mensaje {
  display: none;
}

.ContenidoChat__mensaje--alerta {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-size: .6rem;
  gap: .5rem;
  color: var(--color-texto-tag);
  font-weight: 600;
}

.ContenidoChat__alarma {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background-color: var(--color-alerta-pendiente);
  animation: ContenidoChat__marca_alerta_pulso .8s ease infinite both;
}

.ContenidoChat__alarma--resuelta {
  background-color: var(--color-alerta-resuelta);
  animation: none;
}

.ContenidoChat__mensaje--alerta .ContenidoChat__fecha_mensaje {
  color: var(--color-texto-claro);
  position: absolute;
  right: .5rem;
  bottom: .5rem;
}

.ContenidoChat__contenido_alerta {
  display: flex;
  gap: .25rem;
  align-items: center;
  padding: .35rem 0;
  position: relative;
  color: var(--color-texto);
}

.ContenidoChat__datos_alerta {
  display: flex;
  flex-direction: column;
  gap: .15rem;
  padding-left: .1rem;
}

.ContenidoChat__datos_alerta_subtitulo {
  font-size: .5rem;
  font-weight: 400;
}

@keyframes ContenidoChat__mensaje_aparece {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes ContenidoChat__marca_alerta_pulso {
  0% {
    box-shadow: 0 0 0 0 var(--color-alerta-pendiente);
  }
  100% {
    box-shadow: 0 0 0 .25rem transparent;
  }
}