.Error403 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
  flex-direction: column;
}

.Error403__icono {
  font-size: 6rem;
  padding-bottom: 1rem;
  color: var(--color-secundario);
  animation: aparece-icono-403 .5s ease both;
}

.Error403__mensaje {
  color: var(--color-secundario);
  animation: aparece-mensaje-403 .25s .5s ease both;
}

@keyframes aparece-icono-403 {
  0% {
    opacity: 0;
    transform: scale(1.5) rotateZ(-15deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotateZ(0deg);
  }
}

@keyframes aparece-mensaje-403 {
  0% {
    opacity: 0;
    transform: translateY(.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}