.Filtros {
  display: flex;
  gap: .15rem;
  align-items: center;
  flex-wrap: wrap;
  height: 1.5rem;
  position: relative;
  align-self: flex-start;
}

.Filtros__titulo {
  font-size: .75rem;
  font-style: italic;
  opacity: .7;
  display: flex;
  gap: .25rem;
  align-items: center;
}

.Filtros__tag_filtro {
  background-color: var(--color-secundario);
  color: white;
  height: 1.25rem;
  display: flex;
  align-items: center;
  padding: 0 .25rem 0 1rem;
  border-radius: .6rem;
  font-size: .7rem;
  box-shadow: .1rem .1rem .15rem -.1rem rgba(0, 0, 0, .2);
  transition: all .25s ease;
  cursor: move;
}

.Filtros__tag_filtro {
  box-shadow: .1rem .1rem .25rem -.1rem rgba(0, 0, 0, .25);
}

.Filtros__boton_remover_filtro {
  border: none;
  cursor: pointer;
  background: none;
  padding: 0 .5rem;
  margin: 0;
  color: white;
  opacity: .7;
}

.Filtros__boton_remover_filtro:hover {
  opacity: 1;
}

.Filtros__boton_ayuda {
  position: relative;
  background: none;
  border: none;
  color: var(--color-principal);
  font-size: 1rem;
  cursor: help;
  outline: none;
  opacity: .7;
}

.Filtros__boton_ayuda:hover {
  opacity: 1;
}

@media(orientation:portrait) {
  .Filtros {
    display: none;
  }
}