.Filtros {
  display: flex;
  gap: .15rem;
  align-items: center;
  flex-wrap: wrap;
  height: 1.5rem;
  position: relative;
  align-self: flex-start;
}

.Filtros__titulo {
  font-size: .75rem;
  font-style: italic;
  opacity: .7;
  display: flex;
  gap: .25rem;
  align-items: center;
  margin-right: .25rem;
  color: var(--color-texto);
}

.Filtros__tag_filtro {
  background-color: var(--color-secundario);
  color: var(--color-texto-claro);
  height: 1.3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 .25rem 0 .5rem;
  border-radius: .6rem;
  font-size: .7rem;
  transition: all .25s ease;
  cursor: move;
  padding-right: 1.5rem;
  position: relative;
}

.Filtros__tag_filtro {
  box-shadow: .1rem .1rem .25rem -.1rem rgba(0, 0, 0, .25);
}

.Filtros__boton_remover_filtro {
  border: none;
  cursor: pointer;
  background: none;
  margin: 0;
  color: var(--color-texto-claro);
  opacity: .7;
  position: absolute;
  left: calc(100% - 1.5rem);
  font-size: .8rem;
}

.Filtros__boton_remover_filtro:hover {
  opacity: 1;
}

.Filtros__boton_ayuda {
  position: relative;
  background: none;
  border: none;
  color: var(--color-principal);
  font-size: 1rem;
  cursor: help;
  outline: none;
  opacity: .7;
}

.Filtros__boton_ayuda:hover {
  opacity: 1;
}

.Filtros__tag_filtro--global {
  background: var(--color-principal-2);
  cursor: default;
  padding-left: 1rem;
}

.Filtros__elemento_tag_filtro {
  padding: .2rem .75rem;
  border-radius: 1rem;
  position: relative;
  background-color: var(--color-secundario);
}

.Filtros__elemento_tag_filtro:not(:nth-last-child(2))::after {
  content: 'o';
  position: absolute;
  left: calc(100% + .25rem);
}

.Filtros__tag_filtro--multiple {
  background-color: #8b1d33;
  padding-left: .15rem;
}

@media(orientation: portrait) {
  .Filtros {
    display: none;
  }
}