.App {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  display: flex;
  background:
    linear-gradient(135deg, var(--color-principal), var(--color-secundario));
  background-size: cover;
  overflow: hidden;
}

*, *::before, *::after {
	--color-principal: #6057f6;
	--color-principal-2: #5b53eb;
	--color-principal-oscuro: #2017d9;
  --color-principal-claro: #7B71F4;
	--color-secundario: #d84763;
	--color-bordes: #CFD8DC;
	--color-gris: #5e7782;
	--color-fila-destacada: #f6f5fe;
	--color-si: #cbf4c9;
	--color-no: #f4c8c8;
	--color-out: #f4eac8;
	--color-reagenda: #d2c8f4;
  --color-fondo: white;
  --color-texto-claro: white;
  --color-barra-superior: #fafaff;
  --color-alternativo-fila-tabla: #fcfcfc;
  --color-texto-tag: rgba(0, 0, 0, .75);
  --color-mini-dasdhboard-1: #8b83ff;
  --color-mini-dasdhboard-2: #958cfa;
  --color-barras-mini-dashboard: #6057f6;
  --color-texto: #161922;
  --color-sombras: rgba(0, 0, 0, .15);
  --color-boton-alegre: #0ABCEB;

  --whatsapp-fondo-barra-estado: #054D44;
  --whatsapp-fondo-barra-superior: #075E54;
  --whatsapp-fondo: url('../../assets/images/whatsapp-background.jpg');
  --whatsapp-fondo-mensajes-salientes: #dcf8c6;
  --whatsapp-fondo-mensajes-entrantes: white;
  --whatsapp-color-texto: black;
  --whatsapp-fondo-fecha: #D4EAF4;
  --whatsapp-color-texto-fecha: rgba(0, 0, 0, .7);
  --whatsapp-color-celular: #fafafa;
  --whatsapp-color-borde-celular: #eee;
  --whatsapp-color-brillo-celular: #fff;
}

.App__oscura, .App__oscura *, .App__oscura *::before, .App__oscura *::after {
	--color-principal: #3c435d;
	--color-principal-2: #1a13a0;
	--color-principal-oscuro: #100b6a;
  --color-principal-claro: #2917ee;
	--color-secundario: #803ecc;
	--color-bordes: #CFD8DC;
	--color-fondo: #1C1F2B;
  --color-barra-superior: #161922;
	--color-fila-destacada: #0e1016;
	--color-bordes: #444;
  --color-texto-claro: #dedede;
  --color-alternativo-fila-tabla: #161922;
  --color-texto-tag: rgba(0, 0, 0, .95);
  --color-mini-dasdhboard-1: #3f38a3;
  --color-mini-dasdhboard-2: #4d45bf;
  --color-barras-mini-dashboard: rgba(0, 0, 0, .25);
  --color-texto: #dedede;
  --color-sombras: rgba(255, 255, 255, .1);
  --color-boton-alegre: #1c317d;

  --whatsapp-fondo-barra-estado: #0C2027;
  --whatsapp-fondo-barra-superior: #162D33;
  --whatsapp-fondo: url('../../assets/images/whatsapp-background-oscuro.jpg');
  --whatsapp-fondo-mensajes-salientes: #00463F;
  --whatsapp-fondo-mensajes-entrantes: #0E282F;
  --whatsapp-color-texto: rgba(255, 255, 255, 0.8);
  --whatsapp-fondo-fecha: #0E282F;
  --whatsapp-color-texto-fecha: rgba(255, 255, 255, .7);
  --whatsapp-color-celular: #111;
  --whatsapp-color-borde-celular: #222;
  --whatsapp-color-brillo-celular: #777;
}
