.App {
  display: flex;
  background: linear-gradient(var(--color-principal), var(--color-secundario) 250%);
  background-size: cover;
  overflow: hidden;
}

.App__preload_imagenes {
  display: none;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: --webkit-fill-available;
}