.SelectorEncuesta {
  display: flex;
  align-items: center;
  position: relative;
  opacity: 0;
  cursor: default;
  z-index: 8;
  padding-left: .5rem;
}

.SelectorEncuesta--todas {
  cursor: auto;
  pointer-events: none;
}

.SelectorEncuesta--visible {
  animation: aparece-selector-encuesta .25s ease both;
}

.SelectorEncuesta--interactivo {
  cursor: pointer;
}

.SelectorEncuesta__icono_empresa {
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  color: var(--color-texto);
}

.SelectorEncuesta__nombre_encuesta {
  padding-right: .5rem;
  font-weight: 600;
  font-size: .75rem;
  color: var(--color-texto);
}

.SelectorEncuesta__icono_menu {
  font-size: 1rem;
  color: var(--color-texto);
}

@keyframes aparece-selector-encuesta {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media (orientation: portrait) {
  .SelectorEncuesta__nombre_encuesta {
    font-size: .8rem;
  }
}