.SelectorEncuesta {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  opacity: 0;
}

.SelectorEncuesta--todas {
  cursor: auto;
  pointer-events: none;
}

.SelectorEncuesta--visible {
  animation: aparece-selector-encuesta .25s ease both;
}

.SelectorEncuesta__icono_empresa {
  width: 1.9rem;
  height: 1.9rem;
  padding: .25rem;
  background-color: var(--color-fondo);
  border-radius: 100%;
  box-shadow: 0 .05rem .15rem rgba(0, 0, 0, .15);
  margin-right: .5rem;
  color: #9f9eae;
}

.SelectorEncuesta__nombre_encuesta {
  padding-right: .5rem;
  font-weight: 600;
  font-size: .93rem;
  color: var(--color-texto);
}

.SelectorEncuesta__icono_menu {
  font-size: 1.3rem;
  color: var(--color-texto);
}

@keyframes aparece-selector-encuesta {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media (orientation: portrait) {
  .SelectorEncuesta__nombre_encuesta {
    font-size: .8rem;
  }
}