.LoaderRespuestas {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: .1rem .1rem .1rem rgba(0, 0, 0, .15);
  animation: LoaderRespuestas__anim_cargando .25s ease both;
}

@keyframes LoaderRespuestas__anim_cargando {
  0% {
    opacity: 0;
    transform: translateX(-.1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}