.Preparaciones {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.5rem;
}

.Preparaciones__titulo {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'Raleway';
}

.Preparaciones__superior {
  display: flex;
  justify-content: space-between;
}

.Preparaciones__input_busqueda {
  padding: .25rem 1rem;
  border-radius: 9rem;
  box-shadow: 0 0 0 1px var(--color-bordes);
  border: none;
  outline: none;
  width: 30ch;
  transition: all .2s ease-in-out;
  font-size: .7rem;
}

.Preparaciones__input_busqueda:focus {
  box-shadow: 0 0 0 .1rem var(--color-secundario);
}

.Preparaciones__acciones {
  display: flex;
  gap: .25rem;
}

.Preparaciones__acciones button {
  cursor: pointer;
  border: none;
  background: var(--color-principal);
  color: var(--color-texto-claro);
  padding: .35rem .75rem;
  border-radius: .5rem;
  font-size: .7rem;
  transition: all .2s ease;
  display: flex;
  align-items: center;
  gap: .35rem;
}

.Preparaciones__contenedor_tabla {
  max-height: calc(100vh - 10rem);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.Preparaciones__contenedor_tabla::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
  background-color: var(--color-fondo);
}

.Preparaciones__contenedor_tabla::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--color-principal);
}

.Preparaciones__tabla {
  font-size: .7rem;
}

.Preparaciones__tabla thead,
.Preparaciones__tabla thead tr,
.Preparaciones__tabla th {
  position: sticky;
  top: -1px;
  background-color: var(--color-fondo);
}

.Preparaciones__tabla th {
  text-align: left;
  font-weight: 600;
  padding: .5rem;
}

.Preparaciones__tabla th, .Preparaciones__tabla td {
  border: 1px solid var(--color-bordes);
}

.Preparaciones__tabla th:last-child, .Preparaciones__tabla td:last-child {
  width: 40%;
}

.Preparaciones__link {
  color: var(--color-principal);
  text-decoration: underline;
}

.Preparaciones__input_tabla {
  padding: .25rem .5rem;
  width: 100%;
  border: none;
  outline: none;
  transition: all .2s ease-in-out;
}

.Preparaciones__input_tabla:focus {
  box-shadow: inset 0 0 0 .1rem var(--color-secundario);
}

.Preparaciones__fila--invisible {
  display: none;
}