.SelectorRangoFechas {
  display: flex;
  align-items: center;
  font-size: .75rem;
  position: relative;
  color: var(--color-texto);
  gap: .35rem;
}

.SelectorRangoFechas__datepicker {
  text-align: center;
  width: 9rem;
  border-radius: 1rem;
  height: 2rem;
  cursor: pointer;
  font-size: .7rem;
  font-weight: 600;
  background: var(--color-fondo);
  color: var(--color-texto);
  box-shadow: 0 0 0 1px var(--color-bordes);
  outline: none;
  border: none;
  transition: all .2s ease-in-out;
}

.SelectorRangoFechas__datepicker:focus {
  box-shadow: 0 0 0 .15rem var(--color-secundario);
}

.SelectorRangoFechas__datepicker--ancho {
  width: 12.5rem;
}

.SelectorRangoFechas__boton {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-texto-claro);
  background-color: var(--color-principal);
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .15s ease;
  position: relative;
  z-index: 2;
}

.SelectorRangoFechas__boton:hover {
  box-shadow: 0rem .1rem .15rem var(--color-sombras);
  filter: brightness(110%);
}

.SelectorRangoFechas__boton:active {
  filter: brightness(130%);
}

.SelectorRangoFechas__boton:hover::before {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border: .5rem solid transparent;
  border-bottom: .5rem solid var(--color-principal-2);
  top: calc(100% - .5rem);
  animation: aparece-tooltip-opcion .15s ease both;
}

.SelectorRangoFechas__boton:hover::after {
  position: absolute;
  content: attr(tooltip);
  background-color: var(--color-principal-2);
  color: var(--color-texto-claro);
  top: calc(100% + .35rem);
  white-space: nowrap;
  border-radius: .25rem;
  padding: 0 .5rem;
  height: 1.5rem;
  font-size: .7rem;
  display: flex;
  align-items: center;
  animation: aparece-tooltip-opcion .15s ease both;
  z-index: 4;
}

.SelectorRangoFechas__boton--rango {
  width: auto;
  color: var(--color-texto);
  font-size: .75rem;
  gap: .25rem;
  background-color: var(--color-fondo);
  border-radius: .25rem;
}

.SelectorRangoFechas__boton_icono {
  font-size: 1rem;
}

.SelectorRangoFechas__boton--alerta {
  background-color: var(--color-secundario);
}

.SelectorRangoFechas__boton:disabled {
  filter: brightness(90%);
  animation: girar-boton-actualizando 1s ease-in-out infinite both;
  box-shadow: 0 0 0 rgba(0, 0, 0, .1);
}

.SelectorRangoFechas__boton:disabled:hover::after {
  display: none;
}

.SelectorRangoFechas__boton:disabled:hover::before {
  display: none;
}

@media (orientation: portrait) {
  .SelectorRangoFechas {
    display: none;
  }
}

@keyframes aparece-tooltip-opcion {
  0% {
    opacity: 0;
    transform: translateY(.1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes girar-boton-actualizando {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}