.MultiSelectPill {
  display: flex;
  align-items: center;
  font-size: 0.45rem;
  padding: 0.2rem;
  border-radius: 0.15rem;
  gap: 0.15rem;
  cursor: default;
}

.MultiSelectPill__button {
  border: none;
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  background: none;
  font-size: 0.5rem;
  cursor: pointer;
}
