.Alertas {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--color-texto);
  padding: 0 0 0 1rem;
}

.Alertas__titulo {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Raleway';
  z-index: 3;
  padding-bottom: .25rem;
  padding-top: 1rem;
}

.Alertas__loader {
  padding: 3rem 15rem;
}

.Alertas__contenedor {
  display: flex;
  width: 100%;
  flex: 1;
}

.Alertas__lateral {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding-top: .25rem;
  padding-right: 1rem;
  font-size: .65rem;
  max-width: 12.5rem;
  border-right: 1px solid var(--color-bordes);
}

.Alertas__subtitulo {
  font-weight: 600;
  font-size: .7rem;
}

.Alertas__contenedor_opcion {
  display: grid;
  grid-template: auto auto / auto auto 1fr;
  gap: .05rem .35rem;
  line-height: 1.25;
  cursor: pointer;
  position: relative;
  align-items: center;
  user-select: none;
}

.Alertas__contenedor_opcion:active .Alertas__etiqueta_tipo_alerta,
.Alertas__contenedor_opcion:active .Alertas__icono_tipo_alerta {
  color: var(--color-gris);
}

.Alertas__switch {
  margin-left: .25rem;
  margin-right: .25rem;
  width: 1.5rem;
  height: .75rem;
  border-radius: 1rem;
  box-shadow:
    inset -.75rem 0 0 0 var(--color-gris),
    0 0 0 1px var(--color-gris);
  transition: all .25s ease;
}

.Alertas__switch--activo {
  box-shadow:
    inset .75rem 0 0 0 var(--color-principal),
    0 0 0 1px var(--color-principal);
}

.Alertas__checkbox_oculto {
  display: none;
}

.Alertas__checkbox_opcion {
  cursor: pointer;
  grid-row: span 2;
  content: '';
  width: 1rem;
  height: 1rem;
  background: var(--color-fondo);
  border-radius: .15rem;
  opacity: 1;
  top: calc((100% - 1rem) / 2);
  box-shadow: 
    0 0 0 1px var(--color-principal),
    inset 0 0 0 1px var(--color-fondo),
    inset 0 0 0 2px var(--color-bordes),
    inset 0 0 0 9in var(--color-fondo);
  transition: all .15s ease;
}

.Alertas__checkbox_opcion--activo {
  box-shadow:
    0 0 0 1px var(--color-principal),
    inset 0 0 0 1px var(--color-fondo),
    inset 0 0 0 2px var(--color-bordes),
    inset 0 0 0 9in var(--color-principal);
}

.Alertas__icono_checkbox {
  position: absolute;
  z-index: 2;
  color: var(--color-texto-claro);
  left: calc(4px + .1rem);
  width: .8rem;
}

.Alertas__icono_tipo_alerta {
  width: 1.5rem;
  font-size: 1.25rem;
  grid-row: span 2;
  color: var(--color-texto);
  place-self: center;
}

.Alertas__etiqueta_tipo_alerta {
  place-self: start start;
}

.Alertas__conteo_tipo_alerta {
  place-self: start start;
  font-size: .5rem;
  padding-top: .1rem;
  color: var(--color-gris);
  transition: all .1s ease;
  display: flex;
  align-items: center;
  gap: .2rem;
}

.Alertas__contenedor_secciones_alertas {
  flex: 1;
}

.Alertas__contenedor_tabs {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-bordes);
  color: var(--color-texto);
}

.Alertas__boton_tab {
  background-color: var(--color-fondo);
  color: var(--color-gris);
  border: none;
  display: grid;
  grid-template: 1.25fr 1fr / auto 1fr;
  padding: .5rem 3rem .5rem 1rem;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: inset 0 -.1rem 0 0 transparent;
  gap: 0 .5rem;
  height: 2.75rem;
}

.Alertas__boton_tab--activo {
  color: var(--color-tab-alerta);
  box-shadow: inset 0 -.1rem 0 0 var(--color-tab-alerta);
}

.Alertas__boton_tab:hover {
  filter: none;
  background-color: var(--color-fila-destacada);
}

.Alertas__icono_tab {
  font-size: 1.25rem;
  grid-row: span 2;
  place-self: center center;
}

.Alertas__boton_tab_titulo {
  place-self: end start;
  font-size: .7rem;
  font-weight: 600;
}

.Alertas__boton_tab_subtitulo {
  place-self: start start;
  font-weight: 600;
  font-size: .5rem;
}
