.TableroRespuestas {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--color-texto);
}

.TableroRespuestas__superior {
  display: flex;
  align-items: center;
  height: 2.25rem;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.TableroRespuestas__titulo {
  font-weight: bold;
  font-size: 1.35rem;
  font-family: 'Raleway';
}

.TableroRespuestas__contenedor_tablero {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all .25s ease;
}

.TableroRespuestas__contenedor_tablero--cargando {
  opacity: .5;
  pointer-events: none;
}

.TableroRespuestas__contenedor_columnas {
  background-color: var(--color-fondo);
  max-height: calc(100vh - 10rem);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-principal) var(--color-fondo);
  display: flex;
  gap: .7rem;
  padding-right: .7rem;
}

.TableroRespuestas__contenedor_columnas::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
  background-color: var(--color-fondo);
}

.TableroRespuestas__contenedor_columnas::-webkit-scrollbar-thumb {
  border-radius: .25rem;
  background-color: var(--color-principal);
}

.TableroRespuestas__columna {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .2rem;
  z-index: 0;
}

.TableroRespuestas__encabezado_columna {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: var(--color-fondo);
  padding: .5rem 0 .25rem 0;
}

.TableroRespuestas__contenedor_tag {
  display: flex;
  align-items: center;
}

.TableroRespuestas__conteo_reactions {
  font-size: .65rem;
  color: var(--color-principal);
  font-weight: 600;
  opacity: 0;
  transition: all .25s ease;
}

.TableroRespuestas__porcentaje_columna {
  opacity: .55;
  font-size: .7rem;
  font-weight: 600;
  display: inline-block;
  padding-left: .25rem;
  transition: all .25s ease;
}

.TableroRespuestas__columna:hover .TableroRespuestas__conteo_reactions {
  opacity: 1;
}

.TableroRespuestas__tarjeta {
  background: transparent;
  border: 1px solid var(--color-bordes);
  font-size: .55rem;
  min-height: 3rem;
  border-radius: .2rem;
  display: flex;
  align-items: center;
  padding: .25rem;
  cursor: pointer;
  transition: all .25s ease;
  box-shadow: 0 .1rem .25rem -.2rem var(--color-sombras);
  position: relative;
}

.TableroRespuestas__tarjeta:hover {
  --color-fondo: var(--color-fila-destacada);
  box-shadow: 0 .1rem .25rem -.1rem var(--color-sombras);
}

.TableroRespuestas__tarjeta--si {
  background: linear-gradient(to right, var(--color-si) 3.75rem, var(--color-fondo) 0);
}

.TableroRespuestas__tarjeta--no {
  background: linear-gradient(to right, var(--color-no) 3.75rem, var(--color-fondo) 0);
}

.TableroRespuestas__tarjeta--out {
  background: linear-gradient(to right, var(--color-out) 3.75rem, var(--color-fondo) 0);
}

.TableroRespuestas__tarjeta--reagenda {
  background: linear-gradient(to right, var(--color-reagenda) 3.75rem, var(--color-fondo) 0);
}

.TableroRespuestas__tarjeta--sr {
  background: linear-gradient(to right, var(--color-bordes) 3.75rem, var(--color-fondo) 0);
}

.TableroRespuestas__tarjeta_hora {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3.75rem;
  padding-right: .5rem;
  text-align: center;
  gap: .15rem;
  color: var(--color-texto-oscuro);
  text-transform: capitalize;
}

.TableroRespuestas__tarjeta_datos {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  padding-left: .25rem;
}

.TableroRespuestas__tarjeta_dato_secundario {
  opacity: .65;
}

.TableroRespuestas__tarjeta_reaccion {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  background: var(--color-bordes);
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 0 .2rem 0;
}
