.Uso {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Uso__titulo {
  font-weight: bold;
  font-size: 1.75rem;
  font-family: 'Raleway';
}

.Uso__explicacion {
  padding: 1.5rem 0;
  font-size: .85rem;
}

.Uso__selector_periodo {
  padding: .5rem;
}

.Uso__actualizacion {
  font-size: .85rem;
}

.Uso__encabezado {
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: .75rem .5rem;
  border: 1px solid var(--color-bordes);
  border-bottom: none;
  align-items: center;
}

.Uso__tabla_uso thead {
  background-color: #fafafa;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 600;
}

.Uso__tabla_uso tr {
  border: 1px solid var(--color-bordes);
}

.Uso__tabla_uso th,
.Uso__tabla_uso td {
  padding: .75rem .5rem;
  text-align: left;
}

.Uso__tabla_uso td {
  font-size: .85rem;
}

.Uso__tabla_uso tbody tr:hover {
  background-color: var(--color-fila-destacada);
}