.PopupEncuestas__lamina {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  transition: all 0.25s ease;
}

.PopupEncuestas__lamina--activo {
  opacity: 1;
}

.PopupEncuestas {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 12;
  top: 0;
  box-shadow: 0 0.1rem 0.15rem var(--color-sombras);
  max-height: 50vh;
  overflow: auto;
  transition: all 0.15s ease-in-out;
  scrollbar-width: 0.6rem;
  scrollbar-color: var(--color-principal) var(--color-fondo);
}

.PopupEncuestas::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--color-fondo);
}

.PopupEncuestas::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--color-principal);
}

.PopupEncuestas__opcion {
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: var(--color-fondo);
  padding-right: 1rem;
  transition: all 0.1s ease;
  color: var(--color-texto);
  white-space: nowrap;
}

.PopupEncuestas__opcion:hover {
  background-color: var(--color-principal);
  color: var(--color-texto-claro);
}

.PopupEncuestas__opcion:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.PopupEncuestas__opcion:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.PopupEncuestas__opcion--indentada {
  padding-left: 1.5rem;
}

.PopupEncuestas__icono_empresa {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  background-color: var(--color-fondo);
  border-radius: 100%;
  margin-right: 0.5rem;
  color: rgb(49, 202, 49);
}

.PopupEncuestas__nombre_encuesta {
  padding-right: 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
}
