.TarjetaResultadoBusqueda {
  margin-bottom: 1rem;
  overflow: auto;
  max-width: calc(100vw - 7rem);
  cursor: pointer;
  animation: aparece-resultado-busqueda .15s ease;
  transition: all .25s ease-in-out;
}

.TarjetaResultadoBusqueda::-webkit-scrollbar {
  width: .6em;
  height: .6em;
  background-color: white;
}

.TarjetaResultadoBusqueda::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--color-principal);
}

.TarjetaResultadoBusqueda__encabezado {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7rem;
  text-align: left;
  white-space: nowrap;
  padding: .75rem .75rem .75rem .25rem;
  transition: all .25s ease-in-out;
  text-overflow: ellipsis;
}

.TarjetaResultadoBusqueda__valor {
  padding: .15rem .75rem .15rem .25rem;
  font-size: .8rem;
  vertical-align: middle;
  height: 2.5rem;
  line-height: 1.15;
  white-space: nowrap;
  transition: all .25s ease-in-out;
  text-overflow: ellipsis;
}

.TarjetaResultadoBusqueda:hover {
  background-color: var(--color-fila-destacada);
}

@keyframes aparece-resultado-busqueda {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}