.TarjetaResultadoBusqueda {
  margin-bottom: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 29.5ch;
  border: 1px solid var(--color-bordes);
  border-radius: .5rem;
  padding: 1rem;
  margin-right: 1rem;
  box-shadow: 0 .05rem .15rem rgba(0, 0, 0, .1);
  position: relative;
  transition: all .25s ease-in-out;
  animation: aparece-resultado-busqueda 1s ease both;
}

.TarjetaResultadoBusqueda__superior {
  position: absolute;
  top: .45rem;
  left: .5rem;
  display: flex;
  justify-content: flex-start;
  text-transform: uppercase;
  font-size: .55rem;
  color: rgba(0, 0, 0, .5);
}

.TarjetaResultadoBusqueda__contenedor_valores {
  display: flex;
  min-height: 2rem;
  font-size: .75rem;
  padding: .35rem 0;
  line-height: 1.25;
}

.TarjetaResultadoBusqueda__encabezado {
  flex: 1;
  font-weight: 600;
  text-align: right;
  padding-right: .65rem;
  transition: all .25s ease-in-out;
}

.TarjetaResultadoBusqueda__valor {
  flex: 2;
  padding-left: .65rem;
  transition: all .25s ease-in-out;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.TarjetaResultadoBusqueda:hover {
  background: var(--color-fila-destacada);
  box-shadow: 0 .1rem .75rem rgba(0, 0, 0, .1);
}

@keyframes aparece-resultado-busqueda {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (orientation: portrait) {
  .TarjetaResultadoBusqueda__valor {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}