.DashboardDataFilters {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  border-top: 1px solid var(--color-bordes);
  padding-top: 0.75rem;
}

.DashboardDataFilters__title {
  display: flex;
  align-items: center;
  gap: 0.15rem;
  font-weight: bold;
  font-size: 0.65rem;
}

.DashboardDataFilters__label {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  font-size: 0.55rem;
}

.DashboardDataFilters__input {
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid var(--color-bordes);
  cursor: pointer;
}
