.SelectorEmoji {
  position: absolute;
  z-index: 11;
  color: var(--color-texto);
  background-color: var(--color-fondo);
  padding: 0.5rem;
  filter: drop-shadow(0 0.05rem 0.1rem var(--color-sombras));
  border: 1px solid var(--color-bordes);
  border-radius: 0.2rem;
  animation: aparece-selector-emoji 0.2s ease-out both;
  transform: scaleY(2);
}

.SelectorEmoji__contenedor {
  height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  gap: 0.75rem;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: var(--color-principal) var(--color-fondo);
  padding-right: 0.35rem;
}

.SelectorEmoji__contenedor::-webkit-scrollbar {
  width: 0.3rem;
  height: 0.3rem;
  background-color: var(--color-fondo);
}

.SelectorEmoji__contenedor::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: var(--color-principal);
}

.SelectorEmoji::after {
  content: '';
  position: absolute;
  z-index: 2;
  border: 1rem solid transparent;
  border-top: 0.75rem solid var(--color-fondo);
  width: 0.5rem;
  height: 0.5rem;
  top: 100%;
  left: calc(50% - 1rem);
  pointer-events: none;
}

.SelectorEmoji__titulo_categoria_emojis {
  font-weight: 600;
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
}

.SelectorEmoji__boton_emoji {
  background: none;
  font-size: 0.9rem;
  padding: 0.35rem;
  border: none;
  cursor: pointer;
}

.SelectorEmoji__contenedor_botones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

@keyframes aparece-selector-emoji {
  0% {
    opacity: 0;
    transform: translateY(0rem);
  }
  100% {
    opacity: 1;
    transform: translateY(-0.5rem);
  }
}
