.SearchInput {
  display: flex;
  gap: .5rem;
  align-items: center;
  position: relative;
}

.SearchInput__label {
  font-weight: bold;
  font-size: .8rem;
}

.SearchInput__icon {
  position: absolute;
  left: .5rem;
  font-size: 1rem;
  opacity: .75;
}

.SearchInput__input {
  height: 1.6rem;
  padding: 0 2rem 0 2rem;
  border-radius: 9in;
  outline: none;
  border: none;
  box-shadow: 0 0 0 1px var(--color-bordes);
  font-size: .8rem;
  transition: all .25s ease;
}

.SearchInput__input:focus {
  box-shadow: 0 0 0 2px var(--color-principal);
}