.OpcionesAlertas {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: .65rem;
}

.OpcionesAlertas__titulo {
  font-weight: 600;
  font-size: .7rem;
}

.OpcionesAlertas__contenedor_opcion {
  display: grid;
  grid-template: auto auto / auto auto 1fr;
  gap: .05rem .35rem;
  line-height: 1.25;
  cursor: pointer;
  position: relative;
  align-items: center;
  user-select: none;
}

.OpcionesAlertas__checkbox_oculto {
  display: none;
}

.OpcionesAlertas__switch {
  margin-left: .25rem;
  margin-right: .25rem;
  width: 1.5rem;
  height: .75rem;
  border-radius: 1rem;
  box-shadow:
    inset -.75rem 0 0 0 var(--color-gris),
    0 0 0 1px var(--color-gris);
  transition: all .25s ease;
}

.OpcionesAlertas__switch--activo {
  box-shadow:
    inset .75rem 0 0 0 var(--color-principal),
    0 0 0 1px var(--color-principal);
}