.ResumenRespuestas {
  display: flex;
  align-items: center;
  font-size: .8rem;
  color: var(--color-texto);
}

.ResumenRespuestas__barras {
  flex: 1;
  height: 1.5rem;
  margin-left: 1rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.ResumenRespuestas__barra {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: rgba(0, 0, 0, .75);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all .1s ease;
}

.ResumenRespuestas__barra--si {
  background-color: var(--color-si);
  flex: 1;
}

.ResumenRespuestas__barra--no {
  background-color: var(--color-no);
  flex: 1;
}

.ResumenRespuestas__barra--out {
  background-color: var(--color-out);
  flex: 1;
}

.ResumenRespuestas__barra--reagenda {
  background-color: var(--color-reagenda);
  flex: 1;
}

.ResumenRespuestas__porcentaje {
  font-weight: 600;
  margin-left: .25rem;
  font-size: 1rem;
}