.HeadTablaRespuestas {
  border-bottom: 1px solid var(--color-bordes);
}

.HeadTablaRespuestas thead, .HeadTablaRespuestas th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

.HeadTablaRespuestas thead th {
  height: 2rem;
}

.HeadTablaRespuestas__header {
  text-transform: uppercase;
  font-weight: 600;
  font-size: .7rem;
  text-align: left;
  white-space: nowrap;
  padding: .75rem .25rem;
  cursor: pointer;
  transition: all .25s ease-in-out;
  text-overflow: ellipsis;
}

.HeadTablaRespuestas__header:hover {
  background-color: var(--color-fila-destacada);
}

.HeaderTablaRespuestas__icono_orden {
  font-size: 1.25rem;
  color: var(--color-principal) !important;
  height: 1rem;
}

.HeadTablaRespuestas__texto_header {
  display: flex;
  align-items: center;
  height: .5rem;
  justify-content: space-between;
}

.HeaderTablaRespuestas__icono_orden--girado {
  transform: rotateZ(180deg) !important;
}

.HeaderTablaRespuestas__boton_filtros {
  margin-left: .5rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity .15s ease;
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 50%;
  background-color: var(--color-principal);
  color: white;
  outline: none;
  font-size: 1rem;
}

.HeaderTablaRespuestas__boton_filtros:focus {
  filter: brightness(120%);
}

.HeadTablaRespuestas__header:hover .HeaderTablaRespuestas__boton_filtros,
.HeadTablaRespuestas__header--activo .HeaderTablaRespuestas__boton_filtros {
  opacity: 1;
}
