.SelectorRangoFechas2 {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.SelectorRangoFechas2__label {
  font-size: .8rem;
}

.SelectorRangoFechas2__contenedor_calendario {
  position: relative;
}

.SelectorRangoFechas2__boton_principal {
  cursor: pointer;
}