.MensajeWhatsapp {
  display: flex;
  flex-direction: column;
}

.MensajeWhatsapp__fecha {
  align-self: center;
  background-color: #D4EAF4;
  height: 1.25rem;
  display: flex;
  align-items: center;
  font-size: .65rem;
  text-transform: uppercase;
  margin-bottom: .5rem;
  padding: 0 .35rem;
  border-radius: .15rem;
  box-shadow: 0 .05rem .05rem rgba(0, 0, 0, .1);
  color: rgba(0, 0, 0, .7);
  position: sticky;
  top: 0;
  z-index: 2;
}

.MensajeWhatsapp__globo {
  font-size: .8rem;
  background-color: white;
  padding: .3rem .5rem;
  max-width: 90%;
  line-height: 1.15;
  margin-bottom: .5rem;
  border-radius: .5rem;
  position: relative;
  box-shadow: 0 .1rem .05em rgba(0, 0, 0, .2);
  animation: aparece-mensaje-entrante-celular .5s ease both;
  word-wrap: break-word;
}

.MensajeWhatsapp__globo::after {
  position: absolute;
  z-index: 100;
  width: 0;
  height: 0;
  content: '';
  border-top: var(.45rem) solid white;
  border-right: var(.45rem) solid white;
  border-left: var(.45rem) solid transparent;
  border-bottom: var(.45rem) solid transparent;
  top: 0;
  left: calc(-1 * var(.45rem));
}

.MensajeWhatsapp__globo--saliente {
  align-self: flex-end;
  background-color: #dcf8c6;
  animation: aparece-mensaje-saliente-celular .5s ease both;
}

.MensajeWhatsapp__globo--saliente::after {
  position: absolute;
  border-top: var(.45rem) solid #dcf8c6;
  border-right: var(.45rem) solid transparent;
  border-left: var(.45rem) solid #dcf8c6;
  border-bottom: var(.45rem) solid transparent;
  right: calc(-1 * var(.45rem));
  left: auto;
}

.MensajeWhatsapp__hora {
  display: inline;
  padding-left: .5rem;
  opacity: 0;
}

.MensajeWhatsapp__hora_visible {
  font-size: .6rem;
  opacity: .65;
  position: absolute;
  right: .35rem;
  bottom: .3rem;
  display: flex;
  align-items: center;
}

.CelularWhatsapp--expandido .MensajeWhatsapp__hora_visible,
.CelularWhatsapp--expandido .MensajeWhatsapp__icono_visto,
.CelularWhatsapp--expandido .MensajeWhatsapp__fecha,
.CelularWhatsapp--expandido .MensajeWhatsapp__hora {
  max-height: 0;
  overflow: hidden;
}

.MensajeWhatsapp__icono_visto {
  margin-left: .1rem;
  font-size: .9rem;
  color: #34b3ee;
}

.MensajeWhatsapp__pdf {
  font-size: 1rem;
}

.MensajeWhatsapp__titulo {
  align-self: flex-end;
  font-size: .6rem;
  font-weight: 600;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.CelularWhatsapp--expandido .MensajeWhatsapp__titulo {
  padding-bottom: .1rem;
  height: auto;
}

.MensajeWhatsapp__titulo_hora {
  font-weight: 400;
  padding-left: .25rem;
}

.MensajeWhatsapp__texto a {
  color: #039be5;
}

.MensajeWhatsapp__texto a:hover {
  text-decoration: underline;
}