.DatosPaciente {
  display: grid;
  grid-template: 1fr auto / auto 1fr;
  gap: .15rem .5rem;
  padding-left: .25rem;
}

.DatosPaciente__avatar {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: hsl(var(--hue), 65%, 56%);
  color: var(--color-texto-claro);
  grid-row: span 2;
  place-self: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.DatosPaciente__nombre {
  place-self: end start;
  font-size: .75rem;
}

.DatosPaciente__telefono {
  font-size: .65rem;
}