.AccionesCajon {
  display: flex;
  gap: .35rem;
}

.AccionesCajon__boton_accion {
  border: none;
  background: none;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--color-texto);
  position: relative;
  display: flex;
  align-items: center;
}

.AccionesCajon__boton_accion:hover .AccionesCajon__tooltip {
  display: block;
}

.AccionesCajon__tooltip {
  display: none;
  position: absolute;
  font-size: .45rem;
  white-space: nowrap;
  text-align: center;
  background-color: var(--color-texto);
  color: var(--color-texto-claro);
  padding: .1rem .25rem;
  border-radius: 9in;
  transform: translateX(-50%);
  top: -.5rem;
  left: 0;
}