.Alerts {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: var(--color-texto);
  --topbar-height: 2rem;
  position: relative;
}

.Alerts__topbar {
  height: var(--topbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
  background-color: var(--color-barra-superior);
  border-bottom: 1px solid var(--color-bordes);
  gap: 1rem;
}

.Alerts__topbar_left {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.Alerts__title {
  font-weight: bold;
  font-size: 0.8rem;
}

.Alerts__container {
  display: flex;
  flex: 1;
}

.Alerts__main {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-left: 1px solid var(--color-bordes);
}

.Alerts__drawer {
  position: fixed;
  height: 100%;
  right: 0;
  top: 0;
  background: var(--color-fondo);
  transition: right 0.35s ease-out, opacity 0.35s ease-out;
  opacity: 1;
  display: flex;
  z-index: 4;
}

.Alerts__drawer--hidden {
  right: -100%;
  opacity: 0;
}
