.ExportadorRespuestas {
  margin-left: .5rem;
}

.ExportadorRespuestas__boton {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  height: 1.75rem;
  padding: 0 .6rem;
  margin-left: .5rem;
  color: var(--color-texto-claro);
  background-color: var(--color-principal);
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: .1rem .1rem .15rem rgba(0, 0, 0, .1);
  transition: all .25s ease;
  position: relative;
  filter: none;
  font-size: .8rem;
}

.ExportadorRespuestas__boton:hover {
  box-shadow: .15rem .15rem .2rem rgba(0, 0, 0, .1);
  filter: brightness(110%);
}

.ExportadorRespuestas__boton:active {
  filter: brightness(130%);
}

.ExportadorRespuestas__boton:disabled {
  opacity: .5;
  cursor: not-allowed;
}

.ExportadorRespuestas__boton:hover::after {
  position: absolute;
  content: attr(tooltip);
  background-color: var(--color-principal-2);
  color: var(--color-texto-claro);
  top: -100%;
  white-space: nowrap;
  border-radius: .25rem;
  padding: 0 .5rem;
  height: 1.5rem;
  font-size: .7rem;
  display: flex;
  align-items: center;
  animation: aparece-tooltip-opcion .15s ease both;
  z-index: 4;
}

.ExportadorRespuestas__boton:hover::before {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border: .5rem solid transparent;
  border-top: .5rem solid var(--color-principal-2);
  top: -.5rem;
  animation: aparece-tooltip-opcion .15s ease both;
}

.ExportadorRespuestas__icono {
  margin-right: .25rem;
  font-size: 1.1rem;
}
