.FormularioNuevaReaccion {
  display: flex;
  align-items: center;
  font-size: .8rem;
  background: var(--color-fila-destacada);
  animation: aparece-formulario-reaccion .1s ease-out both;
  position: relative;
  padding: 0 .25rem;
}

.FormularioNuevaReaccion__emoji_reaccion {
  font-size: .9rem;
  text-align: center;
}

.FormularioNuevaReaccion__boton_emoji {
  background: none;
  border: none;
  font-size: .9rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: .5rem;
  border-radius: .15rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .25s ease;
  opacity: .5;
}

.FormularioNuevaReaccion__boton_emoji--visible {
  opacity: 1;
}

.FormularioNuevaReaccion__input_nueva_reaccion {
  padding: .25rem;
  outline: none;
  width: 100%;
  font-size: .75rem;
  border: 1px solid var(--color-bordes);
  background-color: var(--color-fondo);
  border-radius: .15rem;
  color: var(--color-texto);
  transition: all .15s ease;
}

.FormularioNuevaReaccion__input_nueva_reaccion:focus {
  box-shadow: 0 0 0 2px var(--color-principal);
}

.FormularioNuevaReaccion__contenedor_botones {
  display: grid;
  grid-auto-flow: column;
  gap: .25rem;
  padding-right: 2rem;
  padding-left: .5rem;
}

.FormularioNuevaReaccion__boton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;
  border-radius: .35rem;
  padding: 0 1rem;
  color: var(--color-texto-claro);
  background-color: var(--color-principal);
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  filter: none;
  font-size: .65rem;
  opacity: .25;
  transition: all .25s ease;
}

.FormularioNuevaReaccion__boton--visible {
  opacity: 1;
}

.FormularioNuevaReaccion__formulario {
  position: relative;
  display: flex;
  flex: 1;
  gap: .5rem;
  padding-right: .5rem;
}

.FormularioNuevaReaccion__conteo {
  position: absolute;
  right: 5.75rem;
  top: .2rem;
  font-size: .35rem;
}

.FormularioNuevaReaccion__contenedor_sugerencias {
  display: flex;
  align-items: center;
  gap: .1rem;
  font-size: .6rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 1.5rem;
  flex-wrap: wrap;
  opacity: 0;
}

.FormularioNuevaReaccion__contenedor_sugerencias--visible {
  opacity: 1;
}

.FormularioNuevaReaccion__boton_sugerencia {
  font-size: .6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .25rem;
  padding: .15rem;
}

.FormularioNuevaReaccion__boton_sugerencia_comentario {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FormularioNuevaReaccion__boton_sugerencia:hover {
  background-color: var(--color-fila-destacada);
}

.FormularioNuevaReaccion__boton_sugerencia:hover .FormularioNuevaReaccion__boton_eliminar_sugerencia {
  color: var(--color-texto);
}

.FormularioNuevaReaccion__boton_eliminar_sugerencia {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: .65rem;
  width: .65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  font-size: .5rem;
  color: transparent;
}

.FormularioNuevaReaccion__boton_eliminar_sugerencia:hover {
  background-color: var(--color-fila-destacada);
}

.FormularioNuevaReaccion__boton_eliminar_sugerencia:hover {
  background-color: var(--color-fila-destacada);
}
