.FormularioNuevaReaccion {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  background: var(--color-fila-destacada);
  animation: aparece-formulario-reaccion 0.1s ease-out both;
  position: relative;
  padding: 0 0.25rem;
}

.FormularioNuevaReaccion__emoji_reaccion {
  font-size: 0.9rem;
  text-align: center;
}

.FormularioNuevaReaccion__boton_emoji {
  background: none;
  border: none;
  font-size: 0.9rem;
  width: 1.75rem;
  height: 1.75rem;
  margin: 0.5rem;
  border-radius: 0.15rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  opacity: 0.5;
}

.FormularioNuevaReaccion__boton_emoji--visible {
  opacity: 1;
}

.FormularioNuevaReaccion__input_nueva_reaccion {
  padding: 0.25rem;
  outline: none;
  width: 100%;
  font-size: 0.75rem;
  border: 1px solid var(--color-bordes);
  background-color: var(--color-fondo);
  border-radius: 0.15rem;
  color: var(--color-texto);
  transition: all 0.15s ease;
}

.FormularioNuevaReaccion__input_nueva_reaccion:focus {
  box-shadow: 0 0 0 2px var(--color-principal);
}

.FormularioNuevaReaccion__contenedor_botones {
  display: grid;
  grid-auto-flow: column;
  gap: 0.25rem;
  padding-right: 2rem;
  padding-left: 0.5rem;
}

.FormularioNuevaReaccion__boton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.35rem;
  padding: 0.15rem 0.75rem;
  color: var(--color-texto-claro);
  background-color: var(--color-principal);
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  filter: none;
  font-size: 0.65rem;
  opacity: 0.25;
  transition: all 0.25s ease;
  white-space: nowrap;
}

.FormularioNuevaReaccion__boton--visible {
  opacity: 1;
}

.FormularioNuevaReaccion__boton svg {
  font-size: 1rem;
}

.FormularioNuevaReaccion__formulario {
  position: relative;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  padding-right: 0.5rem;
}

.FormularioNuevaReaccion__conteo {
  position: absolute;
  right: 5.75rem;
  top: 0.2rem;
  font-size: 0.35rem;
}

.FormularioNuevaReaccion__contenedor_sugerencias {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 0.6rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  flex-wrap: wrap;
  opacity: 0;
}

.FormularioNuevaReaccion__contenedor_sugerencias--visible {
  opacity: 1;
}

.FormularioNuevaReaccion__boton_sugerencia {
  font-size: 0.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.15rem;
}

.FormularioNuevaReaccion__boton_sugerencia_comentario {
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FormularioNuevaReaccion__boton_sugerencia:hover {
  background-color: var(--color-fila-destacada);
}

.FormularioNuevaReaccion__boton_sugerencia:hover
  .FormularioNuevaReaccion__boton_eliminar_sugerencia {
  color: var(--color-texto);
}

.FormularioNuevaReaccion__boton_eliminar_sugerencia {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  height: 0.65rem;
  width: 0.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  font-size: 0.5rem;
  color: transparent;
}

.FormularioNuevaReaccion__boton_eliminar_sugerencia:hover {
  background-color: var(--color-fila-destacada);
}

.FormularioNuevaReaccion__boton_eliminar_sugerencia:hover {
  background-color: var(--color-fila-destacada);
}
