.InteractionData {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--color-bordes);
  width: 100%;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 33vh;
}

.InteractionData__title {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.InteractionData__title svg {
  font-size: 1rem;
}

.InteractionData__data_container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.65rem;
  justify-content: center;
}

.InteractionData__data_label {
  font-weight: 600;
}

.InteractionData__data_value {
  max-width: 30ch;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: flex-start;
  border-bottom: 1px dashed transparent;
  line-height: 1.25;
}

.InteractionData__data_value:hover {
  cursor: pointer;
  border-bottom-color: var(--color-gris);
}

.InteractionData__data_value:active {
  background-color: var(--color-bordes);
}
