.CelularWhatsapp {
  width: auto;
  height: 25%;
  animation: aparece-celular .25s ease both;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 3rem;
}

.CelularWhatsapp  * {
  transition: all .35s ease-out;
}

.CelularWhatsapp__celular {
  background-color: #F5F5F5;
  padding: 2rem .5rem 1.5rem .5rem;
  border-radius: 1.5rem;
  height: 80vh;
  width: 47vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .15), 0 .1rem .25rem rgba(0, 0, 0, .1);
}

.CelularWhatsapp--expandido .CelularWhatsapp__celular {
  padding: 0;
  width: 60vh;
}

.CelularWhatsapp__pantalla {
  background-color: white;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: .05rem solid #b6b6b6;
  position: relative;
}

.CelularWhatsapp--expandido .CelularWhatsapp__pantalla {
  border: none;
}

.CelularWhatsapp__contenedor_mensajes {
  background-color: #EDEBE6;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: .35rem .75rem;
  overflow-y: auto;
  max-height: calc(80vh - 7rem);
  background-image: url('../../../../../assets/images/whatsapp-background.jpg');
  background-size: cover;
}

.CelularWhatsapp--expandido .CelularWhatsapp__contenedor_mensajes {
  padding: .15rem .35rem;
  max-height: 80vh;
  border-radius: 1rem;
}

.CelularWhatsapp__contenedor_mensajes::-webkit-scrollbar {
  width: .35em;
  background-color: transparent;
}

.CelularWhatsapp__contenedor_mensajes::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: rgba(0, 0, 0, .25);
}

.CelularWhatsapp__boton_encoger {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, .35);
  font-size: 1.35rem;
  outline: none;
  opacity: 0;
  z-index: 3;
}

.CelularWhatsapp__boton_encoger:hover {
  color: rgba(0, 0, 0, .75)
}

.CelularWhatsapp__boton_encoger--visible {
  opacity: 1;
}

@keyframes aparece-celular {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes aparece-mensaje-entrante-celular {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes aparece-mensaje-saliente-celular {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}