.CelularWhatsapp {
  width: auto;
  height: 25%;
  animation: aparece-celular .25s ease both;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  padding: 0 3rem;
  grid-row: span 2;
}

.CelularWhatsapp  * {
  transition: all .15s ease-out;
}

.CelularWhatsapp__datos_extra {
  position: absolute;
  color: rgba(255, 255, 255, .4);
  left: calc(50% - 1.5rem);
  z-index: 3;
  width: 3rem;
  padding: .01rem .05rem;
  border-radius: 1rem;
  text-align: center;
  font-size: .4rem;
  top: .5rem;
  letter-spacing: .05rem;
  background: rgba(255, 255, 255, .04);
  font-weight: bold;
  box-shadow: 0 0 0 .1rem rgba(10, 10, 10, .15);
}

.CelularWhatsapp__datos_extra::before {
  content: '';
  position: absolute;
  left: calc(100% + .5rem);
  width: .3rem;
  height: .3rem;
  background: rgba(255, 255, 255, .15);
  box-shadow: 0 0 0 .1rem rgba(10, 10, 10, .15);
  border-radius: 100%;
  top: .05rem;
}

.CelularWhatsapp__celular {
  background-color: var(--whatsapp-color-celular);
  box-shadow:
    -.02rem -.02rem 0 .025rem var(--whatsapp-color-brillo-celular),
    .03rem .03rem 0 .025rem var(--whatsapp-color-brillo-2-celular),
    0 .05rem .25rem .05rem var(--color-sombras),
    0 .25rem .75rem var(--color-sombras);
  padding: .3rem;
  border-radius: 1.5rem;
  height: 83vh;
  width: 45vh;
  min-width: 15rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.CelularWhatsapp__celular::before {
  content: '';
  position: absolute;
  width: 7rem;
  height: .9rem;
  background: var(--whatsapp-color-celular);
  z-index: 2;
  border-radius: 0 0 1rem 1rem;
  left: calc(50% - 3.5rem);
  transition: all .15s ease-out;
}

.CelularWhatsapp__celular::after {
  content: '';
  position: absolute;
  width: .2rem;
  height: 3rem;
  background: var(--whatsapp-color-celular);
  z-index: 2;
  border-radius: 1rem;
  top: 20%;
  left: -.2rem;
  box-shadow:
    45.5vh -5vh var(--whatsapp-color-celular),
    45.5vh 5vh var(--whatsapp-color-celular);
  transition: opacity .15s ease-out, box-shadow .15s .5s ease-out;
}

.CelularWhatsapp--expandido .CelularWhatsapp__celular {
  padding: 0;
  width: 80vh;
}

.CelularWhatsapp__pantalla {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  clip-path: inset(0rem round 1.25rem);
}

.CelularWhatsapp--expandido .CelularWhatsapp__celular {
  border: none;
  clip-path: inset(0rem round 1.25rem);
}

.CelularWhatsapp--expandido .CelularWhatsapp__celular::before {
  opacity: 0;
  transform-origin: 50% -1rem;
  transform: scaleY(0);
}

.CelularWhatsapp--expandido .CelularWhatsapp__celular::after {
  opacity: 0;
}

.CelularWhatsapp--expandido .CelularWhatsapp__datos_extra {
  display: none;
}

.CelularWhatsapp__contenedor_mensajes {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: .35rem .75rem;
  overflow-y: auto;
  max-height: calc(83vh - 4.1rem);
  background: var(--whatsapp-fondo);
  background-size: cover;
  scroll-behavior: smooth;
  outline: none;
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, .25) transparent;
}

.CelularWhatsapp--expandido .CelularWhatsapp__contenedor_mensajes {
  padding: .15rem .35rem;
  max-height: 83vh;
  border-radius: 1rem;
  overflow-x: hidden;
}

.CelularWhatsapp__contenedor_mensajes::-webkit-scrollbar {
  width: .35em;
  background-color: transparent;
}

.CelularWhatsapp__contenedor_mensajes::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--whatsapp-color-scrollbar-contenedor-mensajes);
}

.CelularWhatsapp__boton_encoger {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: var(--color-texto);
  font-size: 1.35rem;
  outline: none;
  opacity: 0;
  z-index: 3;
}

.CelularWhatsapp__boton_encoger:hover {
  color: var(--color-secundario);
}

.CelularWhatsapp__boton_encoger--visible {
  opacity: 1;
}

.CelularWhatsapp__contenedor_conversacion {
  filter: saturate(10%);
  opacity: .5;
  transition: all .15s ease-in-out;
  cursor: pointer;
}

.CelularWhatsapp__contenedor_conversacion--seleccionada {
  filter: none;
  opacity: 1;
  cursor: auto;
}

.CelularWhatsapp__conversacion_vacia {
  text-align: center;
  font-size: .7rem;
  margin: 1rem 2rem;
  background: var(--color-fondo);
  color: var(--color-texto);
  padding: .5rem 1rem;
  border-radius: .15rem;
  box-shadow: 0 .1rem .1rem var(--color-sombras);
  font-style: italic;
  opacity: .8;
  line-height: 1.25;
}

@keyframes aparece-celular {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes aparece-mensaje-entrante-celular {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes aparece-mensaje-saliente-celular {
  0% {
    opacity: 0;
    transform: translateY(-.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media (orientation: portrait) {
  .CelularWhatsapp {
    height: auto;
    padding: 2rem 0;
  }

  .CelularWhatsapp--expandido .CelularWhatsapp__celular {
    padding: 0;
    width: 90vw;
  }
}

@media (max-width: 1360px) {
  .CelularWhatsapp {
    padding: 0 2rem;
  }
}