.CheckboxesTiposAlertas {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-size: .65rem;
}

.CheckboxesTiposAlertas__titulo {
  font-weight: 600;
  font-size: .7rem;
}

.CheckboxesTiposAlertas__contenedor_opcion {
  display: grid;
  grid-template: auto auto / auto auto 1fr;
  gap: .05rem .35rem;
  line-height: 1.25;
  cursor: pointer;
  position: relative;
  align-items: center;
  user-select: none;
}

.CheckboxesTiposAlertas__icono_checkbox {
  position: absolute;
  z-index: 2;
  color: var(--color-texto-claro);
  left: calc(4px + .1rem);
  width: .8rem;
}

.CheckboxesTiposAlertas__checkbox_opcion {
  cursor: pointer;
  grid-row: span 2;
  content: '';
  width: 1rem;
  height: 1rem;
  background: var(--color-fondo);
  border-radius: .15rem;
  opacity: 1;
  top: calc((100% - 1rem) / 2);
  box-shadow: 
    0 0 0 1px var(--color-principal),
    inset 0 0 0 1px var(--color-fondo),
    inset 0 0 0 2px var(--color-bordes),
    inset 0 0 0 9in var(--color-fondo);
  transition: all .15s ease;
}

.CheckboxesTiposAlertas__checkbox_opcion--activo {
  box-shadow:
    0 0 0 1px var(--color-principal),
    inset 0 0 0 1px var(--color-fondo),
    inset 0 0 0 2px var(--color-bordes),
    inset 0 0 0 9in var(--color-principal);
}

.CheckboxesTiposAlertas__contenedor_opcion:active .CheckboxesTiposAlertas__etiqueta_tipo_alerta,
.CheckboxesTiposAlertas__contenedor_opcion:active .CheckboxesTiposAlertas__icono_tipo_alerta {
  color: var(--color-gris);
}

.CheckboxesTiposAlertas__icono_tipo_alerta {
  width: 1.5rem;
  font-size: 1.25rem;
  grid-row: span 2;
  color: var(--color-texto);
  place-self: center;
}

.CheckboxesTiposAlertas__etiqueta_tipo_alerta {
  place-self: start start;
}

.CheckboxesTiposAlertas__conteo_tipo_alerta {
  place-self: start start;
  font-size: .5rem;
  padding-top: .1rem;
  color: var(--color-gris);
  transition: all .1s ease;
  display: flex;
  align-items: center;
  gap: .2rem;
}