*, *::before, *::after {
	--color-principal: #6057f6;
	--color-principal-2: #5b53eb;
	--color-principal-oscuro: #2017d9;
  --color-principal-claro: #7B71F4;
	--color-secundario: #d84763;
	--color-bordes: #CFD8DC;
	--color-gris: #5e7782;
	--color-fila-destacada: #f6f5fe;

	--color-si: #cbf4c9;
	--color-no: #f4c8c8;
	--color-out: #f4eac8;
	--color-reagenda: #d2c8f4;
	--color-reagendado: #d2c8f4;
  --color-texto-tag: #2D3748;

  --color-fondo: white;
  --color-texto-claro: white;
  --color-barra-superior: #fafaff;
  --color-alternativo-fila-tabla: white;
  --color-mini-dasdhboard-1: #8b83ff;
  --color-mini-dasdhboard-2: #8b83ff;
  --color-barras-mini-dashboard: #6057f6;
  --color-texto: #161922;
  --color-sombras: rgba(0, 0, 0, .15);
  --color-boton-alegre: #0ABCEB;

  --whatsapp-fondo-barra-estado: #054D44;
  --whatsapp-fondo-barra-superior: #075E54;
  --whatsapp-fondo: url('./assets/images/whatsapp-background.jpg');
  --whatsapp-fondo-mensajes-salientes: #dcf8c6;
  --whatsapp-fondo-mensajes-entrantes: white;
  --whatsapp-color-texto: black;
  --whatsapp-fondo-fecha: #D4EAF4;
  --whatsapp-color-texto-fecha: rgba(0, 0, 0, .7);
  --whatsapp-color-celular: #2B292A;
  --whatsapp-color-borde-celular: #eee;
  --whatsapp-color-brillo-celular: #fff;

  --gradiente-exportar: repeating-linear-gradient(-45deg, rgba(0, 0, 0, .05) 0 .25rem, rgba(0, 0, 0, .1) .25rem .5rem);
  --color-vidrio: rgba(255, 255, 255, .5);
}

.App__oscura, .App__oscura *, .App__oscura *::before, .App__oscura *::after,
.ModalFiltros__oscuro, .ModalFiltros__oscuro *, .ModalFiltros__oscuro *::before, .ModalFiltros__oscuro *::after {
	--color-fondo: #171923;
  --color-barra-superior: #1A202C;
	--color-fila-destacada: #0e1016;
	--color-bordes: #2D3748;
  --color-texto-claro: #F7FAFC;

	--color-principal: #553C9A;
	--color-principal-2: #44337A;
	--color-principal-oscuro: #322659;
  --color-principal-claro: #B794F4;

	--color-secundario: #3182CE;
  --color-alternativo-fila-tabla: #171923;

  --color-mini-dasdhboard-1: #553C9A;
  --color-mini-dasdhboard-2: #553C9A;
  --color-barras-mini-dashboard: rgba(0, 0, 0, .25);
  --color-texto: #F7FAFC;
  --color-sombras: rgba(255, 255, 255, .1);
  --color-boton-alegre: #1A365D;
  
	--color-si: #C6F6D5;
	--color-no: #FED7D7;
	--color-out: #FEFCBF;
	--color-reagenda: #EBF8FF;
	--color-reagendado: #EBF8FF;
  --color-texto-tag: #1A202C;

  --whatsapp-fondo-barra-estado: #0C2027;
  --whatsapp-fondo-barra-superior: #162D33;
  --whatsapp-fondo: url('./assets/images/whatsapp-background-oscuro.jpg');
  --whatsapp-fondo-mensajes-salientes: #00463F;
  --whatsapp-fondo-mensajes-entrantes: #0E282F;
  --whatsapp-color-texto: rgba(255, 255, 255, 0.8);
  --whatsapp-fondo-fecha: #0E282F;
  --whatsapp-color-texto-fecha: rgba(255, 255, 255, .7);
  --whatsapp-color-celular: #010101;
  --whatsapp-color-borde-celular: #222;
  --whatsapp-color-brillo-celular: #777;

  --gradiente-exportar: repeating-linear-gradient(-45deg, rgba(0, 0, 0, .4) 0 .25rem, rgba(0, 0, 0, .5) .25rem .5rem);
  --color-vidrio: rgba(0, 0, 0, .25);
}
