.TablaRespuestas {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.TablaRespuestas__headers {
  display: flex;
}

.TablaRespuestas__celda {
  padding: .5rem;
}

.TablaRespuestas__fila {
  display: flex;
}