.ResultadosBusqueda {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ResultadosBusqueda__contenedor_resultados {
  max-height: calc(100vh - 9rem);
  scrollbar-width: .5em;
  scrollbar-color: var(--color-principal) var(--color-fondo);
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  padding-left: .5rem;
}

.ResultadosBusqueda__contenedor_resultados::-webkit-scrollbar {
  width: .6em;
  height: .6em;
  background-color: var(--color-fondo);
}

.ResultadosBusqueda__contenedor_resultados::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: var(--color-principal);
}

.ResultadosBusqueda__superior {
  position: absolute;
  left: 1rem;
  top: -2.5rem;
  display: flex;
  align-items: center;
  animation: aparece-barra-busqueda .35s .35s ease-in both;
  z-index: 3;
}

.ResultadosBusqueda__encontrados {
  margin-right: 1rem;
  font-size: .85rem;
}

.ResuladosBusqueda__termino {
  font-weight: bold;
}

.ResultadosBusqueda__input_nueva_busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .85rem;
  height: 1.7rem;
  padding: 0 .8rem;
  outline: none;
  transition: all .25s ease;
  filter: none;
  font-size: .8rem;
  position: relative;
  border: 1px solid var(--color-bordes);
  color: var(--color-texto);
  background: var(--color-fondo);
}

.ResultadosBusqueda__input_nueva_busqueda:focus {
  box-shadow: 0 0 0 .1rem var(--color-principal);
}

.ResultadosBusqueda__input_nueva_busqueda:disabled {
  filter: brightness(90%);
}

.ResultadosBusqueda__boton_nueva_busqueda {
  margin-right: .25rem;
  font-size: 1.1rem;
  position: absolute;
  right: .35rem;
  top: .25rem;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: var(--color-gris);
}

@keyframes aparece-barra-busqueda {
  0% {
    opacity: 0;
    transform: translateY(.15rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@media (orientation: portrait) {
  .ResultadosBusqueda__contenedor_resultados {
    max-height: calc(100vh - 12rem);
  }

  .ResultadosBusqueda__encontrados {
    display: none;
  }
}