.SelectorConversacion {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  gap: 0.5rem;
  flex: 1;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.75rem 0 0.75rem 11rem;
  margin-left: -10rem;
  display: grid;
  width: 1.25rem;
}

.SelectorConversacion::-webkit-scrollbar {
  width: 0.15rem;
  background-color: transparent;
}

.SelectorConversacion::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.SelectorConversacion__boton {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  font-size: 0.5rem;
  display: flex;
  padding: 0;
  margin: 0 -1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SelectorConversacion__boton::before {
  position: absolute;
  content: attr(data-title);
  background: var(--color-principal-oscuro);
  color: var(--color-texto-claro);
  opacity: 0;
  transition: all 0.25s ease-out;
  right: calc(0.5rem + 100%);
  font-size: 0.7rem;
  pointer-events: none;
  white-space: nowrap;
  padding: 0.25rem 0.75rem 0.25rem 0.35rem;
  border-radius: 0.25rem 0 0 0.25rem;
  clip-path: polygon(
    0% 0%,
    calc(100% - 0.75rem) 0%,
    100% 50%,
    calc(100% - 0.75rem) 100%,
    0% 100%
  );
  filter: drop-shadow(0 0 0.25rem var(--color-sombras));
}

.SelectorConversacion__boton:hover {
  filter: brightness(110%);
}

.SelectorConversacion__boton:hover::before {
  opacity: 1;
}

.SelectorConversacion__boton:not(
    .SelectorConversacion__boton--seleccionado
  ):hover {
  filter: brightness(105%);
}

.SelectorConversacion__boton--seleccionado {
  transform: scale(1.5);
  box-shadow: 0 0 0.15rem var(--color-sombras);
}
