.SelectorConversacion {
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
  gap: .5rem;
  flex: 1;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .75rem 0 .75rem 11rem;
  margin-left: -10rem;
  display: grid;
  width: 1.25rem;
}

.SelectorConversacion::-webkit-scrollbar {
  width: .15em;
  background-color: transparent;
}

.SelectorConversacion::-webkit-scrollbar-thumb {
  border-radius: .25em;
  background-color: rgba(0, 0, 0, .25);
}

.SelectorConversacion__boton {
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  font-size: .5rem;
  display: flex;
  padding: 0;
  margin: 0 -1rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.SelectorConversacion__boton::before {
  position: absolute;
  content: attr(data-title);
  background: var(--color-principal-oscuro);
  color: var(--color-texto-claro);
  opacity: 0;
  transition: all .25s ease-out;
  right: calc(.5rem + 100%);
  font-size: .7rem;
  pointer-events: none;
  white-space: nowrap;
  padding: .25rem .75rem .25rem .35rem;
  border-radius: .25rem 0 0 .25rem;
  clip-path: polygon(0% 0%, calc(100% - .75rem) 0%, 100% 50%, calc(100% - .75rem) 100%, 0% 100%);
  filter: drop-shadow(0 0 .25rem var(--color-sombras))
}

.SelectorConversacion__boton:hover {
  filter: brightness(110%);
}

.SelectorConversacion__boton:hover::before {
  opacity: 1;
}

.SelectorConversacion__boton:not(.SelectorConversacion__boton--seleccionado):hover {
  filter: brightness(105%);
}

.SelectorConversacion__boton--seleccionado {
  transform: scale(1.5);
  box-shadow: 0 0 .15rem var(--color-sombras);
}