.SelectorConversacion {
  position: absolute;
  left: 1.5rem;
  top: 1rem;
  gap: .75rem;
  flex: 1;
  height: 67vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SelectorConversacion__boton {
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
  transition: all .2s ease-in-out;
  font-size: .5rem;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.SelectorConversacion__boton:not(.SelectorConversacion__boton--seleccionado):hover {
  filter: brightness(105%);
}

.SelectorConversacion__boton--seleccionado {
  transform: scale(1.5);
}