.IndicadorFetchingGlobal {
  opacity: .5;
  font-size: .5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.IndicadorFetchingGlobal__cargando {
  display: flex;
  align-items: center;
  animation: aparece-indicador-global .25s ease both;
}

.IndicadorFetchingGlobal__datos_actualizados {
  display: flex;
  align-items: center;
  animation: desaparece-indicador-global 3s ease both;
}

.IndicadorFetchingGlobal__icono {
  padding-left: .25rem;
  font-size: .85rem;
}

.IndicadorFetchingGlobal__icono--cargando {
  animation: indicador-global-cargando 1s ease infinite both;
}

@keyframes aparece-indicador-global {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes desaparece-indicador-global {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes indicador-global-cargando {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(720deg);
  }
}