.TabsServicios {
  height: 1.75rem;
  background-color: var(--color-principal);
  display: flex;
  gap: .1rem;
  padding-left: .25rem;
}

.TabsServicios__boton_menu {
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 1rem;
  padding: 0;
  margin-right: .25rem;
  color: var(--color-texto-claro);
}

.TabsServicios__tab {
  cursor: pointer;
  background-color: var(--color-barra-superior);
  border: none;
  display: flex;
  align-items: center;
  gap: .25rem;
  font-weight: 600;
  padding: 0 .85rem 0 .75rem;
  font-size: .65rem;
  opacity: .8;
  color: var(--color-principal);
  border-radius: .15rem .15rem 0 0;
}

.TabsServicios__tab svg {
  font-size: 1rem;
  opacity: 1;
}

.TabsServicios__tab--activo {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  opacity: 1;
  font-weight: 600;
  box-shadow: 0 1px 0 0 var(--color-fondo);
}

.TabsServicios__tab--cargando {
  background-color: var(--color-barra-superior);
  width: 8rem;
  animation: aparece-tab-servicio .25s ease both;
}

.TabsServicios__skeleton_avatar_cargando {
  width: 1rem;
  height: 1rem;
  background-color: var(--color-skeleton);
  border-radius: 50%;
}

.TabsServicios__skeleton_texto_cargando {
  height: .5rem;
  width: 5rem;
  border-radius: .25rem;
  background-color: var(--color-skeleton);
}

@keyframes aparece-tab-servicio {
  0% {
    transform: translateY(.15rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}