.TabsServicios {
  height: 1.5rem;
  background-color: var(--color-principal-claro);
  display: flex;
  gap: .1rem;
  padding-left: .5rem;
}

.TabsServicios__boton_menu {
  background: none;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 1.75rem;
  padding: 0;
  margin-right: .25rem;
  padding-left: .25rem;
  color: var(--color-texto-claro);
}

.TabsServicios__tab {
  cursor: pointer;
  background-color: var(--color-barra-superior);
  border: none;
  display: flex;
  align-items: center;
  gap: .25rem;
  font-weight: bold;
  padding: 0 .85rem 0 .75rem;
  font-size: .65rem;
  opacity: .75;
  color: var(--color-principal);
  border-radius: .15rem .15rem 0 0;
  transition: all .15s ease;
}

.TabsServicios__tab svg {
  opacity: 1;
  font-size: .75rem;
}

.TabsServicios__tab--activo {
  background-color: var(--color-fondo);
  color: var(--color-texto);
  opacity: 1;
  box-shadow: 0 1px 0 0 var(--color-fondo);
}

.TabsServicios__tab--cargando {
  background-color: var(--color-barra-superior);
  animation: aparece-tab-servicio .25s ease both;
}

.TabsServicios__skeleton {
  background-color: var(--color-skeleton);
  border-radius: 9in;
  display: flex;
  height: .75rem;
}

.TabsServicios__skeleton {
  color: transparent;
}

@keyframes aparece-tab-servicio {
  0% {
    opacity: 0;
    transform: translateY(.5rem);
  }
  100% {
    opacity: .75;
    transform: translateY(0);
  }
}