.Respuestas2 {
  display: grid;
  grid-template: auto auto auto 1fr / auto 1fr;
  width: 100%;
  background-color: var(--color-principal);
  height: 100vh;
}

.Respuestas2__superior {
  grid-column: span 2;
  height: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--color-principal);
  color: var(--color-texto-claro);
  padding: 0 .5rem 0 .75rem;
  justify-content: space-between;
}

.Respuestas2__contenedor_start {
  display: flex;
  align-items: center;
}

.Respuestas2__logo {
  width: 2rem;
  padding-right: .5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  border-right: 1px solid rgba(255, 255, 255, .25);
}

.Respuestas2__titulo {
  font-weight: bold;
  font-size: .75rem;
  padding-left: .5rem;
}

.Respuestas2__selectores {
  height: 2rem;
  background-color: transparent;
  gap: 1rem;
  color: var(--color-texto-claro);
  left: 0;
  font-size: .75rem;
  font-weight: 600;
  display: flex;
  position: absolute;
  left: 36%;
}

.Respuestas2__selector_sucursal svg {
  font-size: .85rem;
}

.Respuestas2__boton_selector {
  display: flex;
  align-items: center;
  gap: .25rem;
}

.Respuestas2__lateral {
  grid-row: span 3;
  padding: 1rem .75rem 0 .75rem;
  background-color: var(--color-fondo);
  overflow: hidden;
  transition: all .25s ease;
  border-top-right-radius: .25rem;
  width: 0;
  padding-left: 0;
  padding-right: 0;
  opacity: .5;
  border: none;
}

.Respuestas2__lateral--visible {
  padding: 1rem .75rem 0 .75rem;
  width: 14rem;
  opacity: 1;
  border-top: 1px solid var(--color-bordes);
  border-right: 1px solid var(--color-bordes);
}

.Respuestas2__boton_usuario {
  gap: .25rem;
  color: var(--color-texto-claro);
  font-size: .75rem;
  font-weight: 600;
  display: flex;
  background: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}

.Respuestas2__boton_usuario svg {
  font-size: .85rem;
}