.TagRespuesta {
  padding: 0.22rem 0.6rem 0.22rem 0.5rem;
  font-size: 0.6rem;
  font-weight: 600;
  border-radius: 0.25rem;
  color: var(--color-texto-tag) !important;
  margin-right: 0.5rem;
  align-self: flex-start;
  display: flex;
  align-items: center;
  min-width: 3.25rem;
  box-shadow: 0.1rem 0.1rem 0.1rem -0.1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.TagRespuesta__contacto_telefonico {
  position: absolute;
  right: -0.25rem;
  top: -0.25rem;
  font-size: 0.5rem;
  font-weight: 600;
  background-color: var(--color-principal-claro);
  color: white;
  padding: 0.2rem;
  border-radius: 9in;
  aspect-ratio: 1 / 1;
  box-shadow: 0.05rem 0.05rem 0.1rem var(--color-sombras);
  display: flex;
  align-items: center;
  justify-content: center;
}

.TagRespuesta--no {
  background-color: var(--color-no);
}

.TagRespuesta--si {
  background-color: var(--color-si);
}

.TagRespuesta--out {
  background-color: var(--color-out);
}

.TagRespuesta--reagenda {
  background-color: var(--color-reagenda);
}

.TagRespuesta--reagendado {
  background-color: var(--color-reagendado);
}

.TagRespuesta--vacia {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.TagRespuesta--opcion_reagendamiento {
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1in;
  box-shadow: 0.1rem 0.1rem 0.1rem -0.1rem rgba(0, 0, 0, 0.1);
  font-size: 0.7rem;
  font-weight: 600;
  background-color: var(--color-si);
  color: var(--color-texto-tag) !important;
}

.TagRespuesta--is_unreachable {
  background-color: var(--color-unreachable);
  color: var(--color-secundario) !important;
}

/* .TagRespuesta--nota {
  border: 1px solid var(--color-secundario);
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color-fondo);
  align-self: center;
} */

.TagRespuesta__icono {
  margin-right: 0.251rem;
}

.TagRespuesta--vacia .TagRespuesta__icono {
  opacity: 0.75;
}

.TagRespuesta__icono_estrella {
  margin-right: 0;
  color: orange;
}

.TagRespuesta__icono_estrella--inactiva {
  color: lightgray;
}
